<% content_for :title, t(".header") %>

<h1><%= "Your information" %></h1>
<div class="usa-prose">
  <%= "This information will be used to connect your income information to your [agency] application. Please make sure the information you enter is the same as what is shown on your application." %>
</div>
<h2><%= "Application information" %></h2>
