<div class="demo-launcher__setting">
  <h3 class="demo-launcher__setting-title">
    <%= @title %>
    <% if @hint %>
      <span class="demo-launcher__tooltip-wrapper">
        <span class="demo-launcher__tooltip-icon" aria-label="<%= @hint %>" data-action="click->demo-launcher#toggleTooltip">ⓘ</span>
        <span class="demo-launcher__tooltip"><%= @hint %></span>
      </span>
    <% end %>
  </h3>
  <div class="usa-form-group demo-launcher__setting-body">
    <%= content %>
  </div>
</div>
