<div class="demo-launcher__setting">
  <h3><%= @title %></h3>
  <% if @hint %>
    <div class="usa-hint"><%= @hint %></div>
  <% end %>
  <div class="usa-form-group">
    <%= content %>
  </div>
</div>
