# Ignore Brewfile debug info
Brewfile.lock.json

#IDE Specific (RubyMine)
.idea

#IDE Specific (VS Code)
.vscode

*.cache

# Terraform
.terraform.lock.hcl
**/.terraform/*
secrets.auto.tfvars
terraform.tfstate
terraform.tfstate.backup

# Host machine specific
.DS_Store

# #############################################################################
# CBV subdirectory files to ignore
# #############################################################################
# Ignore bundler config.
cbv/.bundle

# Ignore all logfiles and tempfiles.
cbv/log/*
cbv/tmp/*
!cbv/log/.keep
!cbv/tmp/.keep

# Ignore pidfiles, but keep the directory.
cbv/tmp/pids/*
!cbv/tmp/pids/
!cbv/tmp/pids/.keep

cbv/public/assets

# Ignore master key for decrypting credentials and more.
cbv/config/master.key
cbv/config/credentials/*.key

# Ignore local dotenv overrides
cbv/.env*.local
cbv/.env.test

# Ignore OWASP files
cbv/zap_report.html
cbv/zap.yaml

# Ignore rspec examples status file
cbv/spec/examples.txt

cbv/app/assets/builds/*
!cbv/app/assets/builds/.keep

cbv/node_modules

cbv/config/credentials/development.key
