<p id="help-modal-description"><%= t("help.show.#{topic}.intro") if t("help.show.#{topic}.intro", default: "").present? %></p>

<% if t("help.show.#{topic}.security_message", default: '').present? %>
  <p><%= t("help.show.#{topic}.security_message") %></p>
<% end %>

<ol>
  <% steps = t("help.show.#{topic}", default: {}).select { |k, _| k.to_s.start_with?("step") } %>
  <% steps.each do |step, _| %>
    <li>
      <strong><%= t("help.show.#{topic}.#{step}.title") %></strong>
      <ul class="help-modal__main-bullets">
        <% Array(t("help.show.#{topic}.#{step}.content", default: [])).each do |content| %>
          <li><%= content %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
