<p><%= t("help.show.#{topic}.intro") if t("help.show.#{topic}.intro", default: '').present? %></p>

<% if t("help.show.#{topic}.security_message", default: '').present? %>
  <p><%= t("help.show.#{topic}.security_message") %></p>
<% end %>

<ol>
  <% steps = t("help.show.#{topic}", default: {}).select { |k, _| k.to_s.start_with?('step') } %>
  <% steps.each do |step, _| %>
    <li>
      <strong><%= t("help.show.#{topic}.#{step}.title") %></strong>
      <ul>
        <% t("help.show.#{topic}.#{step}", default: {}).except(:title).each do |key, _| %>
          <li><%= t("help.show.#{topic}.#{step}.#{key}") %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol> 