<h1>Hello</h1>
<h2>Let's verify your payment information.</h2>

<p>We'll connect to your payment records to get proof of payments to your caseworker and get benfits faster.</p>

<p>Case Number: <strong><%= @cbv_flow.case_number %></strong></p>

<div class="usa-alert usa-alert--info margin-bottom-3">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      Your information is secure. We will not share or keep your log in information. You will be able to preview and approve everything that is shared with your caseworker.
    </p>
  </div>
</div>

<%= link_to next_path do %>
  <button class="usa-button usa-button--outline" type="button">Get Started</button>
<% end %>
