---
http_interactions:
- request:
    method: post
    uri: https://id.demo.studentclearinghouse.org/oauth2/ausnsnbp1duL7tEPi0h7/v1/token
    body:
      encoding: UTF-8
      string: client_id=<NSC_CLIENT_ID>&client_secret=<NSC_CLIENT_SECRET>&grant_type=client_credentials&scope=vs.api.insights
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okta-Request-Id:
      - aXerKIUWbWiLB9_n0wwKdQAACvg
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '597'
      X-Rate-Limit-Reset:
      - '1769450284'
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"<NSC_ACCESS_TOKEN>","scope":"vs.api.insights"}'
  recorded_at: Mon, 26 Jan 2026 17:57:55 GMT
[...]
- request:
    method: post
    uri: https://verify.demo.studentclearinghouse.org/api/vs-ext-test/insights/v3/a2/submit-request
    body:
      encoding: UTF-8
      string: '{"firstName":"Mikel","lastName":"Lockman","dateOfBirth":"1997-12-09","asOfDate":"2025-12-31","accountId":"10053523","terms":"Y","endClient":"CMS"}'
    headers:
      Authorization:
      - Bearer <NSC_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":"0","severity":"Info","message":"Successful"},"transactionDetails":{"transactionId":"828376750","orderId":"114696544","transactionStatus":"UCF","transactionFee":"0.00","salesTax":"0.00","transactionTotal":"0.00","requestedBy":"CMS
        Contact","requestedDate":"2026-01-26 12:58:00.549","notifiedDate":"2026-01-26
        12:58:00.549","nscHit":"N"},"clientData":{"accountId":"10053523"},"studentInfoProvided":{"lastName":"Lockman","firstName":"Mikel","dateOfBirth":"1997-12-09"}}'
  recorded_at: Mon, 26 Jan 2026 17:57:55 GMT
[...]
- request:
    method: post
    uri: https://api-sandbox.argyle.com/v2/users
    body:
      encoding: UTF-8
      string: '{"external_id":"7115e14b-5ea2-44d1-b116-cf836ec5b68c"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - fb4d92f1-f48d-42c9-8173-3f449580199d
    body:
      encoding: UTF-8
      string: '{"user_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWQiOiIwMThmMDgzNC1kNjlhLTg3OWItMDVjYi1kZGRlMDMzMDI0ZjAiLCJleHAiOjE3Njk0NTM4ODMsImZpZCI6ImQ2ZjZjYTBkLTQwOGEtNGVjMS1hNDQ1LWJkZGQzNWRmNTBkYSIsImlhdCI6MTc2OTQ1MDI4MywiaXNzIjoiYXJneWxlLWNvcmUtYXV0aC1wcm9kIiwianRpIjoiYjFkMWU2ZmEtMzUzZC00OTYxLWI0ZGQtYmIwNWI0NzUzYjJhIiwic3ViIjoiMDE5YmZiNzQtOWZjMC1jMjNiLTlhYjgtMGNkZTY4MjYwMWJjIiwidXNlcl9pZCI6IjAxOWJmYjc0LTlmYzAtYzIzYi05YWI4LTBjZGU2ODI2MDFiYyJ9.jJzvG1hYSPvywaod-_fZABuEWC7yVJ54_RJ62v2KVRQ","id":"019bfb74-9fc0-c23b-9ab8-0cde682601bc"}'
  recorded_at: Mon, 26 Jan 2026 17:57:55 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/identities?account=019bfb74-a974-e1fb-d876-0f4e094835f2&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - e3cbfea4-7961-4d40-a241-8408127b1272
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"6dc37274-8007-3b8f-868d-302ed50dcfba","account":"019bfb74-a974-e1fb-d876-0f4e094835f2","address":{"city":"New
        York","line1":"759 Victoria Plaza","line2":null,"state":"NY","country":"US","postal_code":"10014"},"first_name":"Bob","last_name":"Jones","full_name":"Bob
        Jones","birth_date":"1980-10-10","email":"test1@argyle.com","phone_number":"+18009000010","picture_url":"https://api-sandbox.argyle.com/v2/payroll-documents/019bfb74-c4c4-8184-05a1-3cbccb96ceef/file","employment_status":"terminated","employment_type":"full-time","job_title":"1635
        - Helpline Agent","ssn":"522-09-1191","marital_status":"Married filing jointly","gender":"Male","hire_date":"2023-07-26","original_hire_date":"2023-07-26","termination_date":"2025-12-19","termination_reason":"Poor
        quality of work.","employer":"Advance Auto Parts","base_pay":{"amount":"281.62","period":"weekly","currency":"USD"},"pay_cycle":"weekly","platform_ids":{"employee_id":"ZW25Q9KGV","position_id":"DENCHF1C6","platform_user_id":"K9J3DTZBDB2IIRI9"},"created_at":"2026-01-26T17:58:12.231Z","updated_at":"2026-01-26T17:58:19.384Z","metadata":{},"employment":"a113391a-0366-3629-b2ed-22b255bb6e06"}],"next":null,"previous":null}'
  recorded_at: Mon, 26 Jan 2026 17:57:55 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/accounts/019bfb74-a974-e1fb-d876-0f4e094835f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - e2c2bd14-921f-49fe-9e24-8338f9c1e5e2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"019bfb74-a974-e1fb-d876-0f4e094835f2","user":"019bfb74-9fc0-c23b-9ab8-0cde682601bc","employers":["Advance
        Auto Parts"],"item":"item_000029932","source":"argyle_sandbox","created_at":"2026-01-26T17:58:05.460Z","updated_at":"2026-01-26T17:58:19.767Z","scanned_at":"2026-01-26T17:58:19.189Z","connection":{"status":"connected","error_code":null,"error_message":null,"updated_at":"2026-01-26T17:58:09.940Z"},"direct_deposit_switch":{"status":"idle","error_code":null,"error_message":null,"updated_at":"2026-01-26T17:58:05.732Z"},"availability":{"gigs":{"status":"in_progress","updated_at":"2026-01-26T17:58:19.189Z","available_count":0,"available_from":null,"available_to":null},"shifts":{"status":"in_progress","updated_at":"2026-01-26T17:58:19.189Z","available_count":14,"available_from":"2025-10-26T00:00:00.000Z","available_to":"2025-12-18T00:00:00.000Z"},"paystubs":{"status":"in_progress","updated_at":"2026-01-26T17:58:19.221Z","available_count":9,"available_from":"2025-10-29T00:00:00.000Z","available_to":"2025-12-19T00:00:00.000Z"},"payroll_documents":{"status":"synced","updated_at":"2026-01-26T17:58:12.647Z"},"identities":{"status":"synced","updated_at":"2026-01-26T17:58:19.403Z"},"ratings":{"status":"synced","updated_at":"2026-01-26T17:58:12.902Z"},"vehicles":{"status":"synced","updated_at":"2026-01-26T17:58:12.660Z"},"deposit_destinations":{"status":"synced","updated_at":"2026-01-26T17:58:11.237Z"},"user_forms":null,"user_uploads":null},"ongoing_refresh":{"status":"disabled"}}'
  recorded_at: Mon, 26 Jan 2026 17:57:55 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/paystubs?account=019bfb74-a974-e1fb-d876-0f4e094835f2&from_start_date=2025-10-28&limit=200&to_start_date=2026-01-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 866fadeb-7876-4c93-845b-c8691b736dca
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"9e0b10ab-dd43-3b0f-86f0-4c4b4cf1dbc1","account":"019bfb74-a974-e1fb-d876-0f4e094835f2","payroll_document":"019bfb74-ddc3-d18a-b01c-34860ad7c8ac","deduction_list":[{"amount":"2.82","name":"Dental","tax_classification":null,"amount_ytd":"166.16"},{"amount":"2.82","name":"Roth","tax_classification":"post_tax","amount_ytd":"149.26"}],"filing_status":[{"type":"federal","location":null,"status":"married
        filing separately"},{"type":"state","location":"NY","status":"single"}],"tax_list":[{"amount":"22.53","name":"Federal
        Withholding","type":"federal","amount_ytd":"447.77"},{"amount":"30.98","name":"OASDI","type":"fica","amount_ytd":"428.05"},{"amount":"25.35","name":"CA
        State Income Tax","type":"state","amount_ytd":"644.89"}],"status":"completed","paystub_date":"2025-12-19T00:00:00Z","paystub_period":{"start_date":"2025-12-11T00:00:00Z","end_date":"2025-12-19T00:00:00Z"},"currency":"USD","gross_pay":"413.86","deductions":"5.64","taxes":"78.86","net_pay":"334.36","reimbursements":"5.00","hours":"15.41","fees":null,"net_pay_ytd":"16073.23","gross_pay_ytd":"19853.87","metadata":{},"employer":"Advance
        Auto Parts","employer_address":{"city":"Seattle","state":"WA","country":"US","postal_code":"98109","line1":"202
        Westlake Ave N","line2":null},"created_at":"2026-01-26T17:58:18.920Z","updated_at":"2026-01-26T17:58:18.920Z","destinations":[],"hours_ytd":"2030.54","deductions_ytd":"715.31","taxes_ytd":"3151.24","gross_pay_list":[{"name":"Regular","type":"base","start_date":"2025-12-11","end_date":"2025-12-19","rate":"22.8400","hours":"12.3301","amount":"281.62","hours_ytd":"1981.4400","amount_ytd":"14644.24"},{"name":"Overtime","type":"overtime","start_date":"2025-12-17","end_date":"2025-12-18","rate":"34.2600","hours":"3.0825","amount":"105.61","hours_ytd":"29.7200","amount_ytd":"639.21"},{"name":"Holiday
        Overtime","type":"overtime","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":"19.3800","amount_ytd":"288.11"},{"name":"Bonus","type":"bonus","start_date":"2025-12-18","end_date":"2025-12-18","rate":null,"hours":null,"amount":"26.63","hours_ytd":null,"amount_ytd":"2370.86"},{"name":"Incentive","type":"bonus","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":null,"amount_ytd":"171.03"},{"name":"Commission","type":"commission","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":null,"amount_ytd":"1740.42"}],"gross_pay_list_totals":{"base":{"amount":"281.62","amount_ytd":"14644.24","hours":"12.3301","hours_ytd":"1981.4400","rate_implied":"22.8400","rate_implied_ytd":"7.3900"},"overtime":{"amount":"105.61","amount_ytd":"927.32","hours":"3.0825","hours_ytd":"49.1000","rate_implied":"34.2600","rate_implied_ytd":"18.8900"},"commission":{"amount":null,"amount_ytd":"1740.42","hours":null,"hours_ytd":null,"rate_implied":null,"rate_implied_ytd":null},"bonus":{"amount":"26.63","amount_ytd":"2541.89","hours":null,"hours_ytd":null,"rate_implied":null,"rate_implied_ytd":null},"other":null},"employment":"a113391a-0366-3629-b2ed-22b255bb6e06"},{"id":"9aa4b12b-b751-3b43-97ce-9fb2941da267","account":"019bfb74-a974-e1fb-d876-0f4e094835f2","payroll_document":"019bfb74-dd98-3566-4d00-8eb010b659fa","deduction_list":[{"amount":"2.82","name":"401K","tax_classification":"pre_tax","amount_ytd":"107.02"},{"amount":"8.45","name":"Roth","tax_classification":"post_tax","amount_ytd":"146.44"}],"filing_status":[{"type":"federal","location":null,"status":"single"},{"type":"state","location":"N[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/gigs?account=019bfb74-a974-e1fb-d876-0f4e094835f2&from_start_datetime=2025-10-28&limit=200&to_start_datetime=2026-01-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 07f959f8-8e35-49a8-8acc-deff11f86f83
    body:
      encoding: ASCII-8BIT
      string: '{"results":[],"next":null,"previous":null}'
  recorded_at: Mon, 26 Jan 2026 17:57:55 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/gigs?account=019bfb74-a974-e1fb-d876-0f4e094835f2&from_start_datetime=2025-10-28&limit=200&to_start_datetime=2026-01-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 9942cf85-17d9-43a6-86db-f733c5048796
    body:
      encoding: ASCII-8BIT
      string: '{"results":[],"next":null,"previous":null}'
  recorded_at: Mon, 26 Jan 2026 17:57:55 GMT
recorded_with: VCR 6.4.0
