<!DOCTYPE html>
<html class="bg-primary-lighter">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="bg-primary-lighter">
      <%= yield %>
    </div>
  </body>
</html>
