---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/search?q=foo&supported_jobs=paystubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - aa906a2f-cd8f-45cd-864a-c4b547a4e2b4
    body:
      encoding: UTF-8
      string: '{"meta":{"count":25},"data":[{"id":"5a8cfb92-3373-4e65-b41b-54e821e79671","name":"McKee
        Foods","platform_type":"payroll","last_updated":"2025-05-13T18:41:08.886885+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/McKee%20Foods.png","supported_jobs":["company_incomes","company_employments","shifts","income","tax_forms","identity","direct_deposit_allocations","company_census","employment","paystubs","direct_deposit_switch"],"fractional_amount_supported":true,"amount_supported":true,"min_amount":null,"max_amount":null,"response_type":"employer","min_percentage":1,"max_percentage":99,"percentage_supported":true},{"id":"bc507614-8b07-41b6-a00c-daa0d2890350","name":"Tyson
        Foods","platform_type":"payroll","last_updated":"2023-08-22T20:06:41.070099+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/Tyson%20Foods.png","supported_jobs":["company_incomes","company_employments","shifts","income","tax_forms","direct_deposit_allocations","identity","company_census","employment","paystubs","direct_deposit_switch"],"fractional_amount_supported":true,"amount_supported":true,"min_amou[...]
- request:
    method: post
    uri: https://sandbox.getpinwheel.com/v1/link_tokens
    body:
      encoding: UTF-8
      string: '{"org_name":"Report My Income","required_jobs":["paystubs"],"end_user_id":"6a927ef1-6c91-43c9-abbe-6728dc8ef877","skip_intro_screen":true,"language":"en","employer_id":"5a8cfb92-3373-4e65-b41b-54e821e79671"}'
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 16e3ba5f-0631-4ed1-b9fd-b7866b8f5554
    body:
      encoding: UTF-8
      string: '{"data":{"mode":"sandbox","id":"a63c75ef-3e91-4fff-8147-78cf7efeddd2","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InJlcXVpcmVkX2pvYnMiOlsicGF5c3R1YnMiXSwib3JnX25hbWUiOiJSZXBvcnQgTXkgSW5jb21lIiwiYWxsb2NhdGlvbiI6bnVsbCwicGxhdGZvcm1fa2V5IjpudWxsLCJza2lwX2ludHJvX3NjcmVlbiI6dHJ1ZSwic2tpcF9leGl0X3N1cnZleSI6ZmFsc2UsImVtcGxveWVyX2lkIjoiNWE4Y2ZiOTItMzM3My00ZTY1LWI0MWItNTRlODIxZTc5NjcxIiwiZGlzYWJsZV9kaXJlY3RfZGVwb3NpdF9zcGxpdHRpbmciOmZhbHNlLCJwbGF0Zm9ybV9pZCI6bnVsbCwic2tpcF9kZXBvc2l0X2NvbmZpcm1hdGlvbiI6bnVsbCwicGxhdGZvcm1fdHlwZSI6bnVsbCwibGFuZ3VhZ2UiOiJlbiIsImVuZF91c2[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/platforms/5965580e-380f-4b86-8a8a-7278c77f73cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - a4fccf9e-1162-410b-a019-0f725acfd45b
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5965580e-380f-4b86-8a8a-7278c77f73cb","name":"Workday","type":"payroll","fractional_amount_supported":true,"min_amount":null,"max_amount":null,"last_updated":"2025-05-13T18:41:08.804385+00:00","logo_url":"https://cdn.getpinwheel.com/assets/platforms/logos/search/cfmpw.png","percentage_supported":true,"min_percentage":1,"max_percentage":99,"supported_jobs":["paystubs","employment","tax_forms","shifts","company_census","company_employments","direct_deposit_allocations","identity","company_incomes","income","direct_deposit_switch"],"amount_supported":true}}'
  recorded_at: Tue, 24 Jun 2025 22:04:21 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/934f6406-c332-4c05-a3e8-6a90765c842d/identity
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 03555d7c-4e0c-4772-a6a7-2845b2eb06b4
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75b85ffa-1057-45a3-a9fb-77de821747b6","created_at":"2025-06-24T22:04:34.456512+00:00","updated_at":"2025-06-24T22:04:34.456512+00:00","account_id":"934f6406-c332-4c05-a3e8-6a90765c842d","full_name":"Ash
        Userton","emails":["user_good@example.com"],"date_of_birth":"1993-08-28","last_four_ssn":"1234","address":{"raw":"20429
        Pinwheel Drive, New York City, NY 99999","line1":"20429 Pinwheel Drive","line2":null,"city":"New
        York City","state":"NY","postal_code":"99999","country":"US"},"phone_numbers":[{"value":"+12345556789","type":null}]},"meta":{"refreshed_at":"2025-06-24T22:04:34.548440+00:00"}}'
  recorded_at: Tue, 24 Jun 2025 22:04:21 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/934f6406-c332-4c05-a3e8-6a90765c842d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 4c094f3f-bda8-4762-ae41-0b732c8b1e66
    body:
      encoding: UTF-8
      string: '{"data":{"created_at":"2025-06-24T22:04:33.547314+00:00","link_token_id":"a63c75ef-3e91-4fff-8147-78cf7efeddd2","platform_id":"5965580e-380f-4b86-8a8a-7278c77f73cb","connected":true,"monitoring_status":"active","end_user_id":"6a927ef1-6c91-43c9-abbe-6728dc8ef877","id":"934f6406-c332-4c05-a3e8-6a90765c842d","data_updated_at":{"direct_deposit_allocations":"2025-06-24T22:04:34.948037+00:00","income":"2025-06-24T22:04:34.629192+00:00","employment":"2025-06-24T22:04:41.075640+00:00","identity":"2025-06-24T22:04:34.548440+00:00","shifts":"2025-06-24T22:04:39.588394+00:00","paystubs":"2025-06-24T22:04:38.805798+00:00"},"data_refreshed_at":{"direct_deposit_allocations":"2025-06-24T22:04:34.948037+00:00","income":"2025-06-24T22:04:34.629192+00:00","employment":"2025-06-24T22:04:41.075640+00:00","identity":"2025-06-24T22:04:34.548440+00:00","shifts":"2025-06-24T22:04:39.588394+00:00","paystubs":"2025-06-24T22:04:38.805798+00:00"}}}'
  recorded_at: Tue, 24 Jun 2025 22:04:21 GMT
[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/934f6406-c332-4c05-a3e8-6a90765c842d/employment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - eb8b47cf-64a1-4210-8ecf-ac751d87702e
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c9d3fc3b-3e2e-4a3e-855a-1eb77396a85c","created_at":"2025-06-24T22:04:40.979175+00:00","updated_at":"2025-06-24T22:04:40.979175+00:00","account_id":"934f6406-c332-4c05-a3e8-6a90765c842d","status":"employed","start_date":"2010-01-01","termination_date":null,"employer_name":"Acme
        Corporation","employer_address":{"raw":"20429 Pinwheel Drive, New York City,
        NY 99999","line1":"20429 Pinwheel Drive","line2":null,"city":"New York City","state":"NY","postal_code":"99999","country":"US"},"employer_phone_number":{"value":"+16126597057","type":"work"},"title":null},"meta":{"refreshed_at":"2025-06-24T22:04:41.075640+00:00"}}'
  recorded_at: Tue, 24 Jun 2025 22:04:21 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/934f6406-c332-4c05-a3e8-6a90765c842d/income
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 5792253d-cc93-4153-8a78-abbfa3d27084
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c8dae54d-915c-4573-975a-f5ba54f57aa0","created_at":"2025-06-24T22:04:34.558075+00:00","updated_at":"2025-06-24T22:04:38.686874+00:00","account_id":"934f6406-c332-4c05-a3e8-6a90765c842d","compensation_amount":1000,"compensation_unit":"hourly","currency":"USD","pay_frequency":"bi-weekly"},"meta":{"refreshed_at":"2025-06-24T22:04:34.629192+00:00"}}'
  recorded_at: Tue, 24 Jun 2025 22:04:21 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/934f6406-c332-4c05-a3e8-6a90765c842d/paystubs?from_pay_date=2025-03-26&to_pay_date=2025-06-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 8288a1af-125d-42e9-9967-f9bbdb04c822
    body:
      encoding: UTF-8
      string: '{"meta":{"refreshed_at":"2025-06-24T22:04:38.805798+00:00","count":4,"next_cursor":null},"data":[{"id":"c80ed2d6-a0fe-4b63-8c92-92414cea9b37","created_at":"2025-06-24T22:04:35.119310+00:00","account_id":"934f6406-c332-4c05-a3e8-6a90765c842d","pay_date":"2025-06-24","pay_period_start":"2025-06-11","pay_period_end":"2025-06-24","currency":"USD","gross_pay_amount":50000,"net_pay_amount":46000,"check_amount":46000,"gross_pay_ytd":50000,"net_pay_ytd":46000,"total_taxes":3825,"total_deductions":175,"total_reimbursements":0,"external_paystub_id":null,"employer_name":null,"taxes":[{"name":"Pinwheel
        Tax","category":"state_income","amount":0},{"name":"Employee Medicare Tax","category":"medicare","amount":725},{"name":"Employee
        Social Security Tax","category":"social_security","amount":3100},{"name":"Federal
        Income Tax","category":"federal_income","amount":0}],"deductions":[{"name":"Deduction","category":"other","amount":175,"type":"unknown"}],"earnings":[{"name":"Regular","category":"hourly","amount":50000,"rate":5000,"hours":10.0}],"time_off":[{"name":"PTO","category":"pto","available_hours":25.0,"earned_hours":0.75,"used_hours":0.0},{"name":"Sick
        Leave","category":"sick","available_hours":8.0,"earned_hours":0.1,"used_hours":2.0}],"document":{"id":"00000000-0000-0000-0000-000000000000","download_url":"https://production-newton-paystubs.s3.amazonaws.com/00000000-0000-0000-0000-000000000000/paystub/00000000-0000-0000-0000-000000000000.pdf?response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=<PINWHEEL_AWS_KEY_ID>&X-Amz-Date=20250624T220447Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED4aCXVzLWVhc3QtMSJHMEUCIBnGfqaBFxl5mjn5KKEzgOqyx5YqBDr3sJgndckyoE%2BXAiEApdMPK%2FIR4Dza8RMNA%2F72CSIscyYOy9FZsifMpRGAnsYq%2BQQINxAEGgw4ODU5MjQzMDc0NDkiDKf3q%2Fk37GWCkm%2FL4irWBKP2NVOzCX4%2FdbwFI6fPrDiB8NhzFrN4kwaVC3tilVQug8VhAwSvxAhVPKqwOgQaZYq4eZ2D%2BOp2Zcy6gyPZXB096o1917v45%2FT1oEMxIhdVRxxfbdGIeS9otM4FYUnFIVFHmGywnFG17p8fIyz%2Fgld%2Fw8DdowLQsnG67K%2Fx%2B5FhDGzuq%2BYY61nZuI%2FFoFsVsTb8OJof8um1lAtoysphkLkb2UvM8jUzjFB6QqCpYD16ffJsG2yw4uGT7Q9fJhYRZeqnfZkwr015CQf3caO7FJPV9WV%2BoPIdTvegNRqZ0UvT1XXHfes1uYsNb4BxTgGGlJiwNMlCZkdp9y5c%2FuZCOUzCmBRN%2BXDjuOdbjeWWO0Uikg9yHTOxObm9uioH9ybALwP9oF0h6cFMdtMdgEUzHvxTmu%2B30%2Bjqd3mE3tsQ7Wm1ExRrfau694jelf4cGQnrEILuqvk2uiW0o1sN5Zl4a%2B0jQ5GzqvgxAlJ3616xAfOmcHZVdHCccGUb7zEzx2g4CNWyWuR7Oc9E8DU8G7%2B%2FCYsDbUhojK4JvmfWKpKbhynzGwb9FxjmiFGZHTpSTwNLh%2BBt5PzA%2BEF1kqklD3Jo1HSFVvzQjmee1UD01fnujthjjhTAhKfv1Bnn5a%2FxZu6k56SH3xzhFZDbLE7ZfAZqzdxC6khL8yZhBZk%2B9x3ddTUD2PX89ba80pVv4nAJwhi6noRB3PtMrDD8cB1m4RvkYIykECaQYCV0fyW3gQBwqfSOuAP9H9CR1nYe7IvsnVaxjTpv%2BtTEEr0K0vXJTUET%2BrTsC2goVjQw9bnswgY6mgHToLRCjYn3G%2FB2xnTGPVRBeGi7iOIaQV71zu4jqsdBCFIZRyIlO2PPlUBsCQRZu0IkKJx%2F8q2slvN%2FqrxgJkH%2FbFj0GclvbklVwoYGd0LH%2FBHv3sobPI6hZIsVK%2BACHTDRppbWHpT1vdg5NTEeSOkuVUyWWEqBBx6AQsdAfWqgt5kI%2FaYYi%2BAgStpm%2B8n2IHBW2t0pqadmhQbG&X-Amz-Signature=7b537bd7609513ec50cb5e04a942da611d408ade25503180c68013acf8c93a19","download_url_expiration":"2025-06-24T22:19:47.034800+00:00"}},{"id":"6e65691e-6391-4789-abf8-7fe8cae27335","created_at":"2025-06-24T22:04:35.843721+00:00","account_id":"934f6406-c332-4c05-a3e8-6a90765c842d","pay_date":"2025-06-10","pay_period_start":"2025-05-28","pay_period_end":"2025-06-10","currency":"USD","gross_pay_amount":50000,"net_pay_amount":46000,"check_amount":46000,"gross_pay_ytd":50000,"net_pay_ytd":46000,"total_taxes":3825,"total_deductions":175,"total_reimbursements":0,"external_paystub_id":null,"employer_[...]
[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/934f6406-c332-4c05-a3e8-6a90765c842d/shifts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 1923ff71-9286-4306-b796-36ce08659f84
    body:
      encoding: UTF-8
      string: '{"meta":{"refreshed_at":"2025-06-24T22:04:39.588394+00:00","count":25,"next_cursor":"gAAAAABoWyD_bOMKEGcNeQJg2gwYdmVCy-LDUeRPdnwkfq0bdtUZSeFi4zWVLE_3tcXG2HgMGpPPzk3x_RLdiJSdAObHVKGgHy8BUGT084H4hyVCUAxWIe_WupLx75LfnnqmTSZxWubO4AhNrYlUuQrZU9NSbNtTxkQTKlzGmOBwtxyolYx4__A="},"data":[{"id":"35841865-b1f1-4d96-b8c5-c49824fa8bfc","created_at":"2025-06-24T22:04:35.276087+00:00","account_id":"934f6406-c332-4c05-a3e8-6a90765c842d","start_date":"2025-06-24","end_date":"2025-06-24","type":"shift","timezone":"America/New_York","timestamps":[{"from":"2025-06-24T09:00:00-04:00","to":"2025-06-24T17:00:00-04:00"}],"currency":"USD","earnings":[{"name":"Sandbox
        Test Earning","category":"hourly","amount":15000,"rate":1000,"hours":15.0}]},{"id":"299e5d25-0920-4b5f-9025-0857f446673b","created_at":"2025-06-24T22:04:35.276087+00:00","account_id":"934f6406-c332-4c05-a3e8-6a90765c842d","start_date":"2025-06-23","end_date":"2025-06-23","type":"shift","timezone":"America/New_York","timestamps":[{"from":"2025-06-23T09:00:00-04:00","to":"2025-06-23T17:00:00-04:00"}],"currency":"US[...]
[...]
