---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.argyle.com/v2/users
    body:
      encoding: UTF-8
      string: '{"external_id":"44be3f9d-5281-4da6-8478-f931e4f94c6e"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - ecaaaec7-15ee-48c6-904b-01c796e98e78
    body:
      encoding: UTF-8
      string: '{"user_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWQiOiIwMThmMDgzNC1kNjlhLTg3OWItMDVjYi1kZGRlMDMzMDI0ZjAiLCJleHAiOjE3Njk3MTg0MTEsImZpZCI6ImZlNjcxYmE2LWY2YzctNGE5Ny04ZDM4LTI2NDY5NzA4MWMxMyIsImlhdCI6MTc2OTcxNDgxMSwiaXNzIjoiYXJneWxlLWNvcmUtYXV0aC1wcm9kIiwianRpIjoiMjcxNmY3N2EtMTM4ZC00YTg4LTkwNDUtYTU3ZTdjYWMxNDU4Iiwic3ViIjoiMDE5YzBiMzktMDIxZi0xNDk5LTI2MDEtNDk4OGNhMWE5NWJiIiwidXNlcl9pZCI6IjAxOWMwYjM5LTAyMWYtMTQ5OS0yNjAxLTQ5ODhjYTFhOTViYiJ9.n7bXgoEYX27A9cvQCc9bURdW9pK0t4szDbgRNrMcNMM","id":"019c0b39-021f-1499-2601-4988ca1a95bb"}'
  recorded_at: Thu, 29 Jan 2026 19:26:48 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/identities?account=019c0b39-0b68-fb0c-9282-57302afa2ed2&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 1d4cd454-83bd-4c04-ad9e-f1e5c99aaee5
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"5cdb765f-8548-3438-a8ce-9f4cf005eeed","account":"019c0b39-0b68-fb0c-9282-57302afa2ed2","address":{"city":"New
        York","line1":"759 Victoria Plaza","line2":null,"state":"NY","country":"US","postal_code":"10014"},"first_name":"Bob","last_name":"Jones","full_name":"Bob
        Jones","birth_date":"1980-10-10","email":"test1@argyle.com","phone_number":"+18009000010","picture_url":"https://api-sandbox.argyle.com/v2/payroll-documents/019c0b39-2607-1a06-8410-3684745756e2/file","employment_status":"active","employment_type":"part-time","job_title":"1635
        - Helpline Agent","ssn":"522-09-1191","marital_status":"Married filing jointly","gender":"Male","hire_date":"2023-05-01","original_hire_date":"2023-05-01","termination_date":null,"termination_reason":null,"employer":"Aramark","base_pay":{"amount":"4269.93","period":"monthly","currency":"USD"},"pay_cycle":"monthly","platform_ids":{"employee_id":"1RB5MYNTX","position_id":"6AEE2PR4B","platform_user_id":"Q3MYA8ECO6IVKIEU"},"created_at":"2026-01-29T19:27:00.383Z","updated_at":"2026-01-29T19:27:03.704Z","metadata":{},"employment":"29610910-56ed-311b-af00-af5bee67050f"}],"next":null,"previous":null}'
  recorded_at: Thu, 29 Jan 2026 19:26:48 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/accounts/019c0b39-0b68-fb0c-9282-57302afa2ed2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - d9a60d7b-7c1a-428f-a5c6-2ca33a22c459
    body:
      encoding: ASCII-8BIT
      string: '{"id":"019c0b39-0b68-fb0c-9282-57302afa2ed2","user":"019c0b39-021f-1499-2601-4988ca1a95bb","employers":["Aramark"],"item":"item_000029932","source":"argyle_sandbox","created_at":"2026-01-29T19:26:53.846Z","updated_at":"2026-01-29T19:27:11.395Z","scanned_at":"2026-01-29T19:27:11.050Z","connection":{"status":"connected","error_code":null,"error_message":null,"updated_at":"2026-01-29T19:26:58.081Z"},"direct_deposit_switch":{"status":"idle","error_code":null,"error_message":null,"updated_at":"2026-01-29T19:26:54.287Z"},"availability":{"gigs":{"status":"in_progress","updated_at":"2026-01-29T19:27:11.050Z","available_count":0,"available_from":null,"available_to":null},"shifts":{"status":"in_progress","updated_at":"2026-01-29T19:27:11.050Z","available_count":32,"available_from":"2025-09-17T00:00:00.000Z","available_to":"2026-01-27T00:00:00.000Z"},"paystubs":{"status":"in_progress","updated_at":"2026-01-29T19:27:11.050Z","available_count":4,"available_from":"2025-10-01T00:00:00.000Z","available_to":"2026-01-01T00:00:00.000Z"},"payroll_documents":{"status":"synced","updated_at":"2026-01-29T19:27:00.905Z"},"identities":{"status":"synced","updated_at":"2026-01-29T19:27:03.717Z"},"ratings":{"status":"synced","updated_at":"2026-01-29T19:27:00.916Z"},"vehicles":{"status":"synced","updated_at":"2026-01-29T19:27:00.918Z"},"deposit_destinations":{"status":"synced","updated_at":"2026-01-29T19:26:59.393Z"},"user_forms":null,"user_uploads":null},"ongoing_refresh":{"status":"disabled"}}'
  recorded_at: Thu, 29 Jan 2026 19:26:48 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/paystubs?account=019c0b39-0b68-fb0c-9282-57302afa2ed2&from_start_date=2025-10-31&limit=200&to_start_date=2026-01-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - db57b135-ce76-45c8-98ba-5ce4da54a59c
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"a09a4ed7-f4f6-3bbe-b9fd-f77e607da0ce","account":"019c0b39-0b68-fb0c-9282-57302afa2ed2","payroll_document":"019c0b39-2f4a-efa4-6113-da8b1e5c1871","deduction_list":[{"amount":"170.80","name":"Garnishment","tax_classification":"post_tax","amount_ytd":"170.80"}],"filing_status":[{"type":"federal","location":null,"status":"married
        filing separately"},{"type":"local","location":"New York","status":"single"}],"tax_list":[{"amount":"341.59","name":"Federal
        Withholding","type":"federal","amount_ytd":"341.59"}],"status":"completed","paystub_date":"2026-01-01T00:00:00Z","paystub_period":{"start_date":"2025-11-27T00:00:00Z","end_date":"2025-12-27T00:00:00Z"},"currency":"USD","gross_pay":"4269.93","deductions":"170.80","taxes":"341.59","net_pay":"3757.54","reimbursements":"0.00","hours":"68.05","fees":null,"net_pay_ytd":"3757.54","gross_pay_ytd":"4269.93","metadata":{},"employer":"Aramark","employer_address":{"city":"Seattle","state":"WA","country":"US","postal_code":"98109","line1":"202
        Westlake Ave N","line2":null},"created_at":"2026-01-29T19:27:03.171Z","updated_at":"2026-01-29T19:27:03.171Z","destinations":[],"hours_ytd":"68.05","deductions_ytd":"170.80","taxes_ytd":"341.59","gross_pay_list":[{"name":"Regular","type":"base","start_date":"2025-11-27","end_date":"2025-12-27","rate":"62.7511","hours":"68.0455","amount":"4269.93","hours_ytd":"68.0500","amount_ytd":"4269.93"}],"gross_pay_list_totals":{"base":{"amount":"4269.93","amount_ytd":"4269.93","hours":"68.0455","hours_ytd":"68.0500","rate_implied":"62.7500","rate_implied_ytd":"62.7500"},"overtime":null,"commission":null,"bonus":null,"other":null},"employment":"29610910-56ed-311b-af00-af5bee67050f"},{"id":"01680309-7c0a-38c7-bfc4-822b0b10bb93","account":"019c0b39-0b68-fb0c-9282-57302afa2ed2","payroll_document":"019c0b39-3ef4-86c9-ac61-94cfa41393f6","deduction_list":[{"amount":"42.70","name":"Vision","tax_classification":"pre_tax","amount_ytd":"683.20"},{"amount":"42.70","name":"Dental","tax_classification":null,"amount_ytd":"298.90"}],"filing_status":[{"type":"federal","location":null,"status":"married
        filing separately"}],"[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/gigs?account=019c0b39-0b68-fb0c-9282-57302afa2ed2&from_start_datetime=2025-10-31&limit=200&to_start_datetime=2026-01-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - bbf4d906-394c-4d05-8823-0104c75b8442
    body:
      encoding: ASCII-8BIT
      string: '{"results":[],"next":null,"previous":null}'
  recorded_at: Thu, 29 Jan 2026 19:26:48 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/gigs?account=019c0b39-0b68-fb0c-9282-57302afa2ed2&from_start_datetime=2025-10-31&limit=200&to_start_datetime=2026-01-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - a3e825ad-5afe-42bd-8afc-424a7813f142
    body:
      encoding: ASCII-8BIT
      string: '{"results":[],"next":null,"previous":null}'
  recorded_at: Thu, 29 Jan 2026 19:26:48 GMT
recorded_with: VCR 6.4.0
