---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.argyle.com/v2/users
    body:
      encoding: UTF-8
      string: '{"external_id":"111c05c8-9233-4f39-9e58-7228539fdc71"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - ced91f02-b5e9-4ae9-8f1d-7897d408a7a0
    body:
      encoding: UTF-8
      string: '{"user_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWQiOiIwMThmMDgzNC1kNjlhLTg3OWItMDVjYi1kZGRlMDMzMDI0ZjAiLCJleHAiOjE3NTA4MDYzMTQsImZpZCI6IjE2MjlhYWI1LTY2NjUtNDAwYi05ZGNmLTllMGQ0NDcyM2M5ZiIsImlhdCI6MTc1MDgwMjcxNCwiaXNzIjoiYXJneWxlLWNvcmUtYXV0aC1wcm9kIiwianRpIjoiMTFhYjY2MGMtYmQyNy00ODhmLWIxZWQtZWZhZGMwZTU1NmM5Iiwic3ViIjoiMDE5N2EzZjktNGY0My1kYmQ1LWU1YmQtMzk0MWRjMjQ1ZDFiIiwidXNlcl9pZCI6IjAxOTdhM2Y5LTRmNDMtZGJkNS1lNWJkLTM5NDFkYzI0NWQxYiJ9._EUWwQsNu06gzU1K76yXTWcRmgGXWXsoMehiRvkfj5s","id":"0197a3f9-4f43-dbd5-e5bd-3941dc245d1b"}'
  recorded_at: Tue, 24 Jun 2025 22:05:11 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/identities?account=0197a3f9-59dc-f823-fa70-ed689729324b&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - d5aa51d0-1d9c-4b94-8367-0673051a2bf5
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"2f68bebb-bb9b-3169-a277-e1012aecdf71","account":"0197a3f9-59dc-f823-fa70-ed689729324b","address":{"city":"New
        York","line1":"759 Victoria Plaza","line2":null,"state":"NY","country":"US","postal_code":"10014"},"first_name":"Bob","last_name":"Jones","full_name":"Bob
        Jones","birth_date":"1980-10-10","email":"test1@argyle.com","phone_number":"+18009000010","picture_url":"https://api-sandbox.argyle.com/v2/payroll-documents/0197a3f9-779c-ba94-29cb-7e3f59046e69/file","employment_status":"active","employment_type":"part-time","job_title":"1635
        - Helpline Agent","ssn":"522-09-1191","marital_status":"Married filing jointly","gender":"Male","hire_date":"2022-11-24","original_hire_date":"2022-11-24","termination_date":null,"termination_reason":null,"employer":"Aramark","base_pay":{"amount":"28028.72","period":"annual","currency":"USD"},"pay_cycle":"biweekly","platform_ids":{"employee_id":"G91S3J1HE","position_id":"XYAT7V73G","platform_user_id":"AHZK0N4FALZ3KI3H"},"created_at":"2025-06-24T22:05:24.541Z","updated_at":"2025-06-24T22:05:27.856Z","metadata":{},"employment":"d4c6e035-b258-30e6-9add-8ed7987551be"}],"next":null,"previous":null}'
  recorded_at: Tue, 24 Jun 2025 22:05:11 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/accounts/0197a3f9-59dc-f823-fa70-ed689729324b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - c6c8db39-db40-45af-bfd9-04ae8bce18f1
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0197a3f9-59dc-f823-fa70-ed689729324b","user":"0197a3f9-4f43-dbd5-e5bd-3941dc245d1b","employers":["Aramark"],"item":"item_000029932","source":"argyle_sandbox","created_at":"2025-06-24T22:05:17.265289Z","updated_at":"2025-06-24T22:05:31.600317Z","scanned_at":"2025-06-24T22:05:31.403471Z","connection":{"status":"connected","error_code":null,"error_message":null,"updated_at":"2025-06-24T22:05:22.012767Z"},"direct_deposit_switch":{"status":"idle","error_code":null,"error_message":null,"updated_at":"2025-06-24T22:05:17.555639Z"},"availability":{"gigs":{"status":"in_progress","updated_at":"2025-06-24T22:05:31.403471Z","available_count":0,"available_from":null,"available_to":null},"shifts":{"status":"in_progress","updated_at":"2025-06-24T22:05:31.403471Z","available_count":22,"available_from":"2025-03-09T00:00:00Z","available_to":"2025-06-21T00:00:00Z"},"paystubs":{"status":"in_progress","updated_at":"2025-06-24T22:05:31.403471Z","available_count":8,"available_from":"2025-03-13T00:00:00Z","available_to":"2025-06-19T00:00:00Z"},"payroll_documents":{"status":"synced","updated_at":"2025-06-24T22:05:25.014923Z"},"identities":{"status":"synced","updated_at":"2025-06-24T22:05:27.872580Z"},"ratings":{"status":"synced","updated_at":"2025-06-24T22:05:25.028105Z"},"vehicles":{"status":"synced","updated_at":"2025-06-24T22:05:25.030685Z"},"deposit_destinations":{"status":"synced","updated_at":"2025-06-24T22:05:23.404217Z"},"user_forms":null,"user_uploads":null},"ongoing_refresh":{"status":"disabled"}}'
  recorded_at: Tue, 24 Jun 2025 22:05:11 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/paystubs?account=0197a3f9-59dc-f823-fa70-ed689729324b&from_start_date=2025-03-26&limit=200&to_start_date=2025-06-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 4a898d0c-61de-48ea-ad2e-ef4de4a9d9d5
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"9f09eb3a-69f3-3772-bcc9-ddfb663e5e5a","account":"0197a3f9-59dc-f823-fa70-ed689729324b","payroll_document":"0197a3f9-81c7-1362-5db6-b1a857aa5be0","deduction_list":[{"amount":"32.34","name":"401K","tax_classification":"pre_tax","amount_ytd":"107.80"}],"filing_status":[{"type":"federal","location":null,"status":"single"}],"tax_list":[{"amount":"129.36","name":"CA
        State Income Tax","type":"state","amount_ytd":"204.82"},{"amount":"140.14","name":"Federal
        Income Tax","type":"federal","amount_ytd":"463.54"}],"status":"completed","paystub_date":"2025-06-19T00:00:00Z","paystub_period":{"start_date":"2025-06-01T00:00:00Z","end_date":"2025-06-15T00:00:00Z"},"currency":"USD","gross_pay":"1078.03","deductions":"32.34","taxes":"269.50","net_pay":"776.19","reimbursements":"0.00","hours":"80.98","fees":null,"net_pay_ytd":"12719.59","gross_pay_ytd":"16644.04","metadata":{},"employer":"Aramark","employer_address":{"city":"Seattle","state":"WA","country":"US","postal_code":"98109","line1":"202
        Westlake Ave N","line2":null},"created_at":"2025-06-24T22:05:27.488Z","updated_at":"2025-06-24T22:05:27.488Z","destinations":[],"hours_ytd":"793.90","deductions_ytd":"700.70","taxes_ytd":"3266.34","gross_pay_list":[{"name":"Regular","type":"base","start_date":"2025-06-01","end_date":"2025-06-15","rate":"13.3119","hours":"80.9825","amount":"1078.03","hours_ytd":"790.6500","amount_ytd":"14014.39"},{"name":"Overtime","type":"overtime","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":"1.3900","amount_ytd":"52.16"},{"name":"Holiday
        Overtime","type":"overtime","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":"1.8600","amount_ytd":"92.73"},{"name":"Bonus","type":"bonus","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":null,"amount_ytd":"1797.23"},{"name":"Incentive","type":"bonus","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":null,"amount_ytd":"7.44"},{"name":"Commission","type":"commission","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":null,"amount_ytd":"680.09"}],"gross_pay_list_totals":{"base":{"amount":"1078.03","amount_ytd":"14014.39","hours":"80.9825","hours_ytd":"790.6500","rate_implied":"13.3100","rate_implied_ytd":"17.7300"},"overtime":{"amount":null,"amount_ytd":"144.89","hours":null,"hours_ytd":"3.2500","rate_implied":null,"rate_implied_ytd":"44.5800"},"commission":{"amount":null,"amount_ytd":"680.09","hours":null,"hours_ytd":null,"rate_implied":null,"rate_implied_ytd":null},"bonus":{"amount":null,"amount_ytd":"1804.67","hours":null,"hours_ytd":null,"rate_implied":null,"rate_implied_ytd":null},"other":null},"employment":"d4c6e035-b258-30e6-9add-8ed7987551be"},{"id":"3ecd4cc4-3a21-396d-a373-980864f85c07","account":"0197a3f9-59dc-f823-fa70-ed689729324b","payroll_document":"0197a3f9-81a3-6abc-4ad2-8123e2d5e735","deduction_list":[{"amount":"10.78","name":"Roth","tax_classification":"post_tax","amount_ytd":"118.58"},{"amount":"32.34","name":"Roth","tax_classification":"post_tax","amount_ytd":"150.92"}],"filing_status":[{"type":"federal","location":null,"status":"married
        filing separately"}[...]
[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/gigs?account=0197a3f9-59dc-f823-fa70-ed689729324b&from_start_datetime=2025-03-26&limit=200&to_start_datetime=2025-06-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 74d680a0-a1d9-49aa-93a2-91ffbe39b1a1
    body:
      encoding: UTF-8
      string: '{"results":[],"next":null,"previous":null}'
  recorded_at: Tue, 24 Jun 2025 22:05:11 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/gigs?account=0197a3f9-59dc-f823-fa70-ed689729324b&from_start_datetime=2025-03-26&limit=200&to_start_datetime=2025-06-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 85e7a2c7-8e43-457d-b49a-0f4d56c8388c
    body:
      encoding: UTF-8
      string: '{"results":[],"next":null,"previous":null}'
  recorded_at: Tue, 24 Jun 2025 22:05:11 GMT
recorded_with: VCR 6.3.1
