---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.argyle.com/v2/users
    body:
      encoding: UTF-8
      string: '{"external_id":"0637a626-a77c-4361-a775-c703983c0919"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MmQxNDVmZGQtZGUzZi00ODBlLTk5OGUtMTljNWY4YmQwMWYzOm9JQkU2RW1EYnpIeVZUQ2g=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - da3e4671-1faf-4b8d-b870-5336cd473c48
    body:
      encoding: UTF-8
      string: '{"user_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfaWQiOiIwMThmMDgzNC1kNjlhLTg3OWItMDVjYi1kZGRlMDMzMDI0ZjAiLCJleHAiOjE3NTA1Njk3NDMsImZpZCI6IjE4Njk3NjRiLTY2OGUtNDg4Zi05ZmNmLTk4YTY0ZmE4OGI1ZiIsImlhdCI6MTc1MDU2NjE0MywiaXNzIjoiYXJneWxlLWNvcmUtYXV0aC1wcm9kIiwianRpIjoiMGE5NGJjMWItYWNjZC00MzA2LWFmOTAtNDZiOGIxNzk5NWY1Iiwic3ViIjoiMDE5Nzk1ZGYtODZkMS1iZTgzLTEzMzgtMzE0ZGEyY2ZlNjYwIiwidXNlcl9pZCI6IjAxOTc5NWRmLTg2ZDEtYmU4My0xMzM4LTMxNGRhMmNmZTY2MCJ9.61tIGYdtK_1nCXMAZwQfF9x06FsdOrpmNwBZatxjIt8","id":"019795df-86d1-be83-1338-314da2cfe660"}'
  recorded_at: Sun, 22 Jun 2025 04:22:23 GMT
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/identities?account=019795df-8ff4-7e82-fff1-65a22e55ac0f&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MmQxNDVmZGQtZGUzZi00ODBlLTk5OGUtMTljNWY4YmQwMWYzOm9JQkU2RW1EYnpIeVZUQ2g=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 62efee4f-c4e4-4811-9a2d-f2d88517f56b
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"8921e31b-df45-3fff-9d0c-1e769fb92082","account":"019795df-8ff4-7e82-fff1-65a22e55ac0f","address":{"city":"New
        York","line1":"759 Victoria Plaza","line2":null,"state":"NY","country":"US","postal_code":"10014"},"first_name":"Bob","last_name":"Jones","full_name":"Bob
        Jones","birth_date":"1980-10-10","email":"test1@argyle.com","phone_number":"+18009000010","picture_url":"https://api-sandbox.argyle.com/v2/payroll-documents/019795df-abc8-bfcb-77f1-7a89092493f7/file","employment_status":"active","employment_type":"full-time","job_title":"1635
        - Helpline Agent","ssn":"522-09-1191","marital_status":"Married filing jointly","gender":"Male","hire_date":"2022-06-22","original_hire_date":"2022-06-22","termination_date":null,"termination_reason":null,"employer":"Comcast","base_pay":{"amount":"1829.19","period":"weekly","currency":"USD"},"pay_cycle":"weekly","platform_ids":{"employee_id":"KN7TZBXI4","position_id":"GUGWLWIIW","platform_user_id":"O0S0RWQGU38MPIXO"},"created_at":"2025-06-22T04:22:32.911Z","updated_at":"2025-06-22T04:22:37.697Z","metadata":{},"employment":"6406b2ab-11f0-36aa-a4f1-88db7ed44932"}],"next":null,"previous":null}'
  recorded_at: Sun, 22 Jun 2025 04:22:43 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/accounts/019795df-8ff4-7e82-fff1-65a22e55ac0f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MmQxNDVmZGQtZGUzZi00ODBlLTk5OGUtMTljNWY4YmQwMWYzOm9JQkU2RW1EYnpIeVZUQ2g=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - e3dfa47e-ba24-4a74-986c-aeebdabfeee0
    body:
      encoding: ASCII-8BIT
      string: '{"id":"019795df-8ff4-7e82-fff1-65a22e55ac0f","user":"019795df-86d1-be83-1338-314da2cfe660","employers":["Comcast"],"item":"item_000029932","source":"argyle_sandbox","created_at":"2025-06-22T04:22:26.129348Z","updated_at":"2025-06-22T04:22:43.122656Z","scanned_at":"2025-06-22T04:22:42.648263Z","connection":{"status":"connected","error_code":null,"error_message":null,"updated_at":"2025-06-22T04:22:30.458877Z"},"direct_deposit_switch":{"status":"idle","error_code":null,"error_message":null,"updated_at":"2025-06-22T04:22:26.589919Z"},"availability":{"gigs":{"status":"in_progress","updated_at":"2025-06-22T04:22:42.648263Z","available_count":0,"available_from":null,"available_to":null},"shifts":{"status":"in_progress","updated_at":"2025-06-22T04:22:42.656857Z","available_count":25,"available_from":"2025-03-05T00:00:00Z","available_to":"2025-06-22T00:00:00Z"},"paystubs":{"status":"in_progress","updated_at":"2025-06-22T04:22:42.695070Z","available_count":16,"available_from":"2025-03-05T00:00:00Z","available_to":"2025-06-18T00:00:00Z"},"payroll_documents":{"status":"synced","updated_at":"2025-06-22T04:22:33.752978Z"},"identities":{"status":"synced","updated_at":"2025-06-22T04:22:37.710333Z"},"ratings":{"status":"synced","updated_at":"2025-06-22T04:22:33.474438Z"},"vehicles":{"status":"synced","updated_at":"2025-06-22T04:22:33.752978Z"},"deposit_destinations":{"status":"synced","updated_at":"2025-06-22T04:22:31.723433Z"},"user_forms":null,"user_uploads":null},"ongoing_refresh":{"status":"disabled"}}'
  recorded_at: Sun, 22 Jun 2025 04:22:43 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/paystubs?account=019795df-8ff4-7e82-fff1-65a22e55ac0f&from_start_date=2025-03-24&limit=200&to_start_date=2025-06-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MmQxNDVmZGQtZGUzZi00ODBlLTk5OGUtMTljNWY4YmQwMWYzOm9JQkU2RW1EYnpIeVZUQ2g=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - a3126b2c-6aa0-4884-be3c-839922daf687
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"51706a4e-7974-3589-8c91-27f614f79cdf","account":"019795df-8ff4-7e82-fff1-65a22e55ac0f","payroll_document":"019795df-bac8-0f2a-24aa-e50d1343b384","deduction_list":[{"amount":"36.58","name":"401K","tax_classification":"pre_tax","amount_ytd":"512.16"}],"filing_status":[{"type":"federal","location":null,"status":"married
        filing separately"}],"tax_list":[{"amount":"219.50","name":"MEDICARE","type":"fica","amount_ytd":"2634.02"},{"amount":"146.34","name":"Federal
        Income Tax","type":"federal","amount_ytd":"1408.49"},{"amount":"219.50","name":"Federal
        Withholding","type":"federal","amount_ytd":"1097.50"}],"status":"completed","paystub_date":"2025-06-18T00:00:00Z","paystub_period":{"start_date":"2025-06-08T00:00:00Z","end_date":"2025-06-15T00:00:00Z"},"currency":"USD","gross_pay":"1829.19","deductions":"36.58","taxes":"585.34","net_pay":"1207.27","reimbursements":"0.00","hours":"54.88","fees":null,"net_pay_ytd":"38289.60","gross_pay_ytd":"50677.84","metadata":{},"employer":"Comcast","employer_address":{"city":"Seattle","state":"WA","country":"US","postal_code":"98109","line1":"202
        Westlake Ave N","line2":null},"created_at":"2025-06-22T04:22:37.315Z","updated_at":"2025-06-22T04:22:37.315Z","destinations":[],"hours_ytd":"1053.27","deductions_ytd":"2323.05","taxes_ytd":"10115.40","gross_pay_list":[{"name":"Regular","type":"base","start_date":"2025-06-08","end_date":"2025-06-15","rate":"33.3321","hours":"54.8778","amount":"1829.19","hours_ytd":"1025.4500","amount_ytd":"45729.75"},{"name":"Overtime","type":"overtime","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":"23.3500","amount_ytd":"1913.07"},{"name":"Holiday
        Overtime","type":"overtime","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":"4.4700","amount_ytd":"440.77"},{"name":"Bonus","type":"bonus","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":null,"amount_ytd":"912.03"},{"name":"Commission","type":"commission","start_date":null,"end_date":null,"rate":null,"hours":null,"amount":null,"hours_ytd":null,"amount_ytd":"1682.22"}],"gross_pay_list_totals":{"base":{"amount":"1829.19","amount_ytd":"45729.75","hours":"54.8778","hours_ytd":"1025.4500","rate_implied":"33.3300","rate_implied_ytd":"44.5900"},"overtime":{"amount":null,"amount_ytd":"2353.84","hours":null,"hours_ytd":"27.8200","rate_implied":null,"rate_implied_ytd":"84.6100"},"commission":{"amount":null,"amount_ytd":"1682.22","hours":null,"hours_ytd":null,"rate_implied":null,"rate_implied_ytd":null},"bonus":{"amount":null,"amount_ytd":"912.03","hours":null,"hours_ytd":null,"rate_implied":null,"rate_implied_ytd":null},"other":null},"employment":"6406b2ab-11f0-36aa-a4f1-88db7ed44932"},{"id":"f2765225-3a9e-364d-abe7-88eca8fc37a0","account":"019795df-8ff4-7e82-fff1-65a22e55ac0f","payroll_document":"019795df-ba97-8055-906d-37b311301455","deduction_list":[{"amount":"73.17","name":"Dental","tax_classification":null,"amount_ytd":"219.51"},{"amount":"36.58","name":"Garnishment","tax_classification":"post_tax","amount_ytd":"475.59"}],"filing_status":[{"type":"federal","location":null,"status":"single"},{"type":"state","locati[...]
[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/gigs?account=019795df-8ff4-7e82-fff1-65a22e55ac0f&from_start_datetime=2025-03-24&limit=200&to_start_datetime=2025-06-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MmQxNDVmZGQtZGUzZi00ODBlLTk5OGUtMTljNWY4YmQwMWYzOm9JQkU2RW1EYnpIeVZUQ2g=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 7b250ac1-42e6-4710-8e33-12bc99258adf
    body:
      encoding: UTF-8
      string: '{"results":[],"next":null,"previous":null}'
  recorded_at: Sun, 22 Jun 2025 04:22:44 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/gigs?account=019795df-8ff4-7e82-fff1-65a22e55ac0f&from_start_datetime=2025-03-24&limit=200&to_start_datetime=2025-06-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MmQxNDVmZGQtZGUzZi00ODBlLTk5OGUtMTljNWY4YmQwMWYzOm9JQkU2RW1EYnpIeVZUQ2g=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - 285c9537-0b84-48f2-ab30-a1c97bad20c0
    body:
      encoding: UTF-8
      string: '{"results":[],"next":null,"previous":null}'
  recorded_at: Sun, 22 Jun 2025 04:22:47 GMT
recorded_with: VCR 6.3.1
