<div class="advanced-launcher__activity-rows">
  <div class="advanced-launcher__activity-row" data-advanced-launcher-target="activityRow" data-activity-type="community_service">
    <div class="advanced-launcher__activity-header">
      <div class="usa-checkbox">
        <input class="usa-checkbox__input" type="checkbox" id="volunteering_enabled" name="volunteering_enabled" value="1"
               data-action="change->advanced-launcher#toggleActivity">
        <label class="usa-checkbox__label" for="volunteering_enabled">Volunteering</label>
      </div>
    </div>
    <div class="advanced-launcher__activity-fields advanced-launcher__activity-fields--hidden">
      <div class="advanced-launcher__activity-fields-grid">
        <div>
          <label class="usa-label" for="volunteering_organization_name">Org name</label>
          <input class="usa-input" type="text" id="volunteering_organization_name" name="volunteering_organization_name" value="Red Cross" autocomplete="off">
        </div>
        <div>
          <label class="usa-label" for="volunteering_hours_per_month">Hours / month</label>
          <input class="usa-input usa-input--sm" type="number" id="volunteering_hours_per_month" name="volunteering_hours_per_month" value="12" min="1" autocomplete="off">
        </div>
      </div>
    </div>
  </div>
  <div class="advanced-launcher__activity-row" data-advanced-launcher-target="activityRow" data-activity-type="employment">
    <div class="advanced-launcher__activity-header">
      <div class="usa-checkbox">
        <input class="usa-checkbox__input" type="checkbox" id="employment_enabled" name="employment_enabled" value="1"
               data-action="change->advanced-launcher#toggleActivity">
        <label class="usa-checkbox__label" for="employment_enabled">Employment</label>
      </div>
    </div>
    <div class="advanced-launcher__activity-fields advanced-launcher__activity-fields--hidden">
      <div class="advanced-launcher__activity-fields-grid">
        <div>
          <label class="usa-label" for="employment_employer_name">Employer name</label>
          <input class="usa-input" type="text" id="employment_employer_name" name="employment_employer_name" value="Acme Corp" autocomplete="off">
        </div>
        <div>
          <label class="usa-label" for="employment_hours_per_month">Hours / month</label>
          <input class="usa-input usa-input--sm" type="number" id="employment_hours_per_month" name="employment_hours_per_month" value="40" min="1" autocomplete="off">
        </div>
        <div>
          <label class="usa-label" for="employment_gross_income_per_month">Gross income / month</label>
          <div class="advanced-launcher__inline-field">
            <span>$</span>
            <input class="usa-input usa-input--sm" type="number" id="employment_gross_income_per_month" name="employment_gross_income_per_month" value="1200" min="0" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="advanced-launcher__activity-row" data-advanced-launcher-target="activityRow" data-activity-type="education">
    <div class="advanced-launcher__activity-header">
      <div class="usa-checkbox">
        <input class="usa-checkbox__input" type="checkbox" id="education_enabled" name="education_enabled" value="1"
               data-action="change->advanced-launcher#toggleActivity">
        <label class="usa-checkbox__label" for="education_enabled">Education</label>
      </div>
    </div>
    <div class="advanced-launcher__activity-fields advanced-launcher__activity-fields--hidden">
      <div class="advanced-launcher__activity-fields-grid">
        <div>
          <label class="usa-label" for="education_school_name">School name</label>
          <input class="usa-input" type="text" id="education_school_name" name="education_school_name" value="Springfield Community College" autocomplete="off">
        </div>
        <div>
          <label class="usa-label" for="education_hours_per_month">Credit hours / month</label>
          <input class="usa-input usa-input--sm" type="number" id="education_hours_per_month" name="education_hours_per_month" value="6" min="1" autocomplete="off">
        </div>
      </div>
    </div>
  </div>
  <div class="advanced-launcher__activity-row" data-advanced-launcher-target="activityRow" data-activity-type="work_programs">
    <div class="advanced-launcher__activity-header">
      <div class="usa-checkbox">
        <input class="usa-checkbox__input" type="checkbox" id="job_training_enabled" name="job_training_enabled" value="1"
               data-action="change->advanced-launcher#toggleActivity">
        <label class="usa-checkbox__label" for="job_training_enabled">Work program</label>
      </div>
    </div>
    <div class="advanced-launcher__activity-fields advanced-launcher__activity-fields--hidden">
      <div class="advanced-launcher__activity-fields-grid">
        <div>
          <label class="usa-label" for="job_training_program_name">Program name</label>
          <input class="usa-input" type="text" id="job_training_program_name" name="job_training_program_name" value="Career Prep" autocomplete="off">
        </div>
        <div>
          <label class="usa-label" for="job_training_organization_name">Organization name</label>
          <input class="usa-input" type="text" id="job_training_organization_name" name="job_training_organization_name" value="Goodwill" autocomplete="off">
        </div>
        <div>
          <label class="usa-label" for="job_training_hours_per_month">Hours / month</label>
          <input class="usa-input usa-input--sm" type="number" id="job_training_hours_per_month" name="job_training_hours_per_month" value="10" min="1" autocomplete="off">
        </div>
      </div>
    </div>
  </div>
</div>
