<% enrollment_terms = @education_activity.nsc_enrollment_terms.order(:term_begin, :term_end, :school_name) %>
<% has_multiple_enrollments = enrollment_terms.length > 1 %>

<% enrollment_terms.each_with_index do |enrollment_term, index| %>
  <h2>
    <% if has_multiple_enrollments %>
      <%= t("activities.education.review.enrollment_information_numbered", number: index + 1) %>
    <% else %>
      <%= t("activities.education.review.enrollment_information") %>
    <% end %>
  </h2>

  <%= render(EnrollmentTermTableComponent.new(nsc_enrollment_term: enrollment_term)) %>
<% end %>
