<% header = t("maintenance.header") %>
<% content_for :title, header %>
<h1><%= header %></h1>

<div class="usa-prose">
  <p><%= t("maintenance.body_1") %></p>
  <p><%= t("maintenance.body_2") %></p>
</div>
