<p>
  <%= t(".greeting") %>
</p>

<p>
  <%= t(".body_html",
    agency_acronym: t(".agency_acronym.#{@cbv_flow_invitation.site_id}"),
    deadline: format_date(@cbv_flow_invitation.expires_on.to_s)) %>
</p>

<p>
  <strong><%= @cbv_flow_invitation.to_url %></strong>
</p>

<p>
  <%= t(".thank_you") %>
</p>
