<div class="padding-3">
  <h2 class="margin-top-0">
    <%= @title %>
  </h2>

  <div class="usa-prose">
    <%= render partial: @help_topic %>
  </div>

  <%= link_to t("help.show.go_back"), cbv_flow_help_index_path(locale: I18n.locale), class: "usa-link" %>
</div>
