# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[zap.conf]
indent_size = 4
indent_style = tab

[*.json]
indent_size = 2
indent_style = space
