<ul class="usa-icon-list margin-top-2">
  <% items.each do |item| %>
    <li class="usa-icon-list__item margin-bottom-1 display-flex flex-align-center">
      <div class="usa-icon-list__icon display-flex flex-justify-center flex-align-center width-6 minw-6 height-6 bg-primary-lighter radius-top-pill radius-bottom-pill margin-right-1">
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg##{item.icon}") %>"></use>
        </svg>
      </div>
      <div class="usa-icon-list__content">
        <%= item.content %>
      </div>
    </li>
  <% end %>
</ul>
