<% if @label %>
  <label class="usa-label" for="<%= @id %>">
    <%= @label %>
  </label>
<% end %>
<div class="usa-input-group">
  <div class="usa-input-prefix" aria-hidden="true">
    <svg class="usa-icon" focusable="false" role="img">
      <use href="<%= icon_href %>"></use>
    </svg>
  </div>
  <%= tag.input(type: "tel", name: @name, value: @value, id: @id, class: @input_class, **@html_options) %>
</div>
