<div class="usa-modal" id="cbv-session-timeout-content" aria-labelledby="cbv-session-timeout-heading" aria-describedby="cbv-session-timeout-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="cbv-session-timeout-heading">
        <%= t('session_timeout.modal.heading') %>
      </h2>
      <div class="usa-prose">
        <p id="cbv-session-timeout-description">
          <%= t('session_timeout.modal.description') %>
        </p>
      </div>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <%= button_to t('session_timeout.modal.extend_button'), cbv_flow_extend_session_path, class: "usa-button", data: { turbo: true } %>
          </li>
          <li class="usa-button-group__item">
            <%= button_to t('session_timeout.modal.end_button'), destroy_user_session_path, method: :delete, class: "usa-button usa-button--outline" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 