<div class="usa-modal"
     data-session-target="modal"
     data-force-action
     id="session-timeout-modal"
     aria-labelledby="session-timeout-heading"
     aria-describedby="session-timeout-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="session-heading">
        <%= t("session_timeout.modal.heading") %>
      </h2>
      <div class="usa-prose">
        <p id="cbv-session-timeout-description">
          <%= t("session_timeout.modal.description") %>
        </p>
      </div>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <button type="button" 
                    class="usa-button"
                    data-close-modal
                    data-session-target="extendButton"
                    id="extend-session-button">
              <%= t("session_timeout.modal.extend_button") %>
            </button>
          </li>
          <li class="usa-button-group__item">
            <button type="button"
                    class="usa-button usa-button--outline"
                    data-session-target="endButton"
                    id="end-session-button">
              <%= t("session_timeout.modal.end_button") %>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<button
  href="#session-timeout-modal"
  aria-controls="session-timeout-modal"
  data-open-modal
  data-session-target="openSessionModal"
  class="invisible"
  id="open-session-modal-button">
</button>

<button 
  type="button"
  data-close-modal
  data-session-target="closeSessionModal"
  class="invisible"
  id="close-session-modal-button">
</button>