<h1>Welcome to Verify.gov</h1>
<h2>This website can help you get approved for your benefits.</h2>

<p>Get started here by requesting a link from your caseworker.</p>

<%= link_to cbv_flow_entry_path do %>
  <button class="usa-button usa-button--outline" type="button">Start Flow Manually</button>
<% end %>
