@forward "uswds";
@use "uswds" as *;

$progress-bar-max-width: 30rem;

.activity-flow-progress-indicator {
  margin: units(2) 0 units(4);
}

.activity-flow-progress-indicator__progress-bar {
  background-color: color("primary-lighter");
  border-radius: 4px;
  border: 1px solid color("primary-vivid");
  display: block;
  height: 1rem;
  width: 100%;

  @include at-media("tablet") {
    width: $progress-bar-max-width;
  }
}

.activity-flow-progress-indicator__progress-bar::before {
  background-color: color("primary-vivid");
  content: "";
  display: block;
  height: 100%;
  width: attr(data-percent %);
}

.activity-flow-progress-indicator__progress-amount-container {
  display: flex;
  justify-content: space-between;
  margin-top: units(1);

  @include at-media("tablet") {
    width: $progress-bar-max-width;
  }
}

.activity-flow-progress-indicator__progress-label {
  font-weight: bold;
}

.activity-flow-progress-indicator__progress-amount {
  color: color("primary-vivid");
  font-weight: bold;
}
