@forward "uswds";
@use "uswds" as *;

$progress-bar-max-width: 30rem;

.activity-flow-progress-indicator {
  margin: units(2) 0 units(4);
}

.activity-flow-progress-indicator__progress-bar {
  background-color: color("primary-lighter");
  border-radius: 4px;
  border: 1px solid color("primary-vivid");
  display: block;
  height: 1rem;
  width: 100%;

  @include at-media("tablet") {
    width: $progress-bar-max-width;
  }

  &::before {
    background-color: color("primary-vivid");
    content: "";
    display: block;
    height: 100%;
    width: attr(data-percent %);
  }

  &--complete {
    border-color: color("success-dark");
    background-color: color("success-dark");

    &::before {
      background-color: color("success-dark");
    }
  }
}

.activity-flow-progress-indicator__progress-amount-container {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-top: units(1);

  @include at-media("tablet") {
    width: $progress-bar-max-width;
  }
}

.activity-flow-progress-indicator__progress-amount {
  color: color("primary-vivid");

  &--complete {
    color: color("success-dark");
  }
}

.activity-flow-progress-indicator__success-icon {
  color: color("success-dark");
  height: 20px;
  vertical-align: text-bottom;
  width: 20px;
}
