@forward "uswds";
@use "uswds" as *;
/*
 * Layout / body styles
 */
html {
  background-color: color("primary-darker");
  min-width: 320px;
}

.usa-button--outline-email {
  // Because css rendering in email is fraught, we must replace the default
  // USWDS strategy of using a box-shadow (it doesn't appear at all in gmail).
  background-color: transparent;
  border: 2px solid #005ea2;
  color: #005ea2;
}

#main-content {
  // These are rough approximations just to roughly get the footer to show up
  // at the bottom of the screen by default.
  $header-height: 4.5rem;
  $footer-height: 5rem;
  min-height: calc(100vh - $header-height - $footer-height);
}

/*
 * Preheader component
 */
.cbv-header__preheader {
  background-color: color("primary-darker");
  @include u-padding-y(0.5);
}
.cbv-header__preheader__text {
  @include u-padding-y(0);
  color: color("white");
  font-size: font-size($theme-banner-font-family, 1);
  line-height: line-height($theme-banner-font-family, 2);

  @include at-media-max($theme-header-min-width) {
    margin-left: units($theme-site-margins-mobile-width);
  }
  @include at-media($theme-header-min-width) {
    @include clearfix;
    @include grid-container($theme-header-max-width);
  }
}

/*
 * Header / Navbar Component
 */
.cbv-header {
  align-items: center;
  color: color("primary-darker");
  display: flex;

  @include at-media-max($theme-header-min-width) {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.cbv-header__pilot-name {
  color: color("primary");
  flex-shrink: 0;

  @include at-media-max($theme-header-min-width) {
    @include u-margin-y(0.5);
    width: 100%;
  }
}
.cbv-header__nav {
  flex-basis: content;
}
.cbv-header__separator {
  @include u-padding-x(1);
}
.cbv-header__agency-logo {
  @include u-margin-right(1);
  height: 45px;

  @include at-media-max($theme-header-min-width) {
    height: 30px;
    max-width: 200px;
  }
}

.cbv-header__agency-logo--la_ldh {
  height: 45px;
  width: 320px;

  @include at-media-max($theme-header-min-width) {
    height: 30px;
    width: 200px;
    min-width: 125px;
    margin-top: 0.25rem;
  }
}
.cbv-header__agency-logo--az_des {
  height: 45px;

  @include at-media-max($theme-header-min-width) {
    height: 30px;
    max-width: 200px;
    margin-top: 0.25rem;
  }
}

/*
 * Footer
 */
.cbv-footer {
  background-color: color("primary-darker");
}
.cbv-footer__content {
  color: color("white");

  @include at-media-max($theme-header-min-width) {
    margin-left: units($theme-site-margins-mobile-width);
  }

  @include at-media($theme-header-min-width) {
    @include clearfix;
    @include grid-container($theme-header-max-width);
  }
  @include u-font("sans", 4);
  @include u-padding-y(2);

  a,
  a:visited {
    color: color("white");
  }
}
.cbv-footer__item {
  @include u-margin-y(2);
}

.cbv-row-highlight td,
.cbv-row-highlight th {
  @include u-bg('yellow-5v');
}

.rotate {
  animation: 1s linear infinite rotate-con;
}

@keyframes rotate-con {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/**
 * Help Modal
 */
.main-bullets {
  list-style-type: disc;
}
.sub-bullets {
  list-style-type: circle;
}

// Button display handling based on device orientation and screen size
.usa-button {
  &.display-block {
    height: auto;
    min-height: 40px;
    line-height: 1.3;
    white-space: normal;
    padding: 0.75rem 1.25rem;

    // Default to block display
    display: block;

    // Switch to inline-block for larger screens
    @include at-media('mobile-lg') {
      display: inline-block;
    }
  }
}

/*
* Session timeout modal
*/
.invisible {
    visibility: hidden;
    position: absolute;
}

/*
* Entry
*/
.divider {
  width: 125px;
  height: 10px;
  background-color: #D9E8F6
}

/*
 * Synchronizations Page
 */
.synchronizations-indicator {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  text-align: center;
  word-break: break-word;

  @include at-media('tablet') {
    flex-direction: column;
  }
}

.synchronizations-indicator__spinner {
  margin-right: 1rem;

  @include u-padding(1);
  @include u-border(0.5);
  @include u-radius("pill");
  @include at-media('tablet') {
    margin-right: 0;
  }
}

/*
* Copy link button
*/
input#invitation_link{
  border-right: none;
  height: 3rem;

  // hide on smaller screens
  display: none;

  @include at-media('tablet') {
    display: block;
  }
}
.copy-link-button {
  height: 3rem;
  margin-top: 0 !important;

  @include at-media('tablet') {
    border-radius: 0 0.25rem 0.25rem 0;
    border-left: none;
  }
}

.usa-button--success {
    background-color: color("green-cool-40v");

  &:hover {
    background-color: color("green-cool-40v");
  }
}

#session-timeout-modal.is-visible {
  // This is one additional 9 beyond Argyle's modal z-index to make sure
  // the timeout modal is always visible if displayed
  z-index: 9999999999;
}

/*
* Tables
*/
.subheader-row {
  > th {
    font-weight: bold;
    background-color: color('gray-cool-10');
  }
}

.usa-prose > .usa-table--borderless .subheader-row th {
  background-color: color('gray-cool-10');
}

/*
* Payment details accordion table column adjustments for consistent display with different content
*/
.payment-details-accordion-table .subheader-row th {
  width: 50%;
}

/*
 * Utilities
 */
.list-style-disc {
  list-style-type: disc !important;
}

.display-contents {
  display: contents !important;
}
