@forward "uswds";
@use "uswds" as *;
/*
 * Layout / body styles
 */
html {
  background-color: color("primary-darker");
  min-width: 320px;
}

.usa-button--outline-email {
  // Because css rendering in email is fraught, we must replace the default
  // USWDS strategy of using a box-shadow (it doesn't appear at all in gmail).
  background-color: transparent;
  border: 2px solid #005ea2;
  color: #005ea2;
}

#main-content {
  // These are rough approximations just to roughly get the footer to show up
  // at the bottom of the screen by default.
  $header-height: 4.5rem;
  $footer-height: 5rem;
  min-height: calc(100vh - $header-height - $footer-height);
}

/*
 * Preheader component
 */
.cbv-header__preheader {
  background-color: color("primary-darker");
  @include u-padding-y(0.5);
}
.cbv-header__preheader__text {
  @include u-padding-y(0);
  color: color("white");
  font-size: font-size($theme-banner-font-family, 1);
  line-height: line-height($theme-banner-font-family, 2);

  @include at-media-max($theme-header-min-width) {
    margin-left: units($theme-site-margins-mobile-width);
  }
  @include at-media($theme-header-min-width) {
    @include clearfix;
    @include grid-container($theme-header-max-width);
  }
}

/*
 * Header / Navbar Component
 */
.cbv-header {
  align-items: center;
  color: color("primary-darker");
  display: flex;
}
.cbv-header__pilot-name {
  color: color("primary");
  flex-shrink: 0;

  @include at-media-max($theme-header-min-width) {
    @include u-margin-y(0.5);
  }
}
.cbv-header__nav {
  flex-basis: content;
}
.cbv-header__separator {
  @include u-padding-x(1);
}
.cbv-header__agency-logo {
  @include u-margin-right(1);
  height: 45px;
}
.cbv-header__agency-logo--ma {
  height: 45px;
}
.cbv-header__agency-logo--nyc {
  height: 30px;

  @include at-media($theme-header-min-width) {
    height: 25px;
  }
}

/*
 * Footer
 */
.cbv-footer {
  background-color: color("primary-darker");
}
.cbv-footer__content {
  @include at-media-max($theme-header-min-width) {
    margin-left: units($theme-site-margins-mobile-width);
  }

  @include at-media($theme-header-min-width) {
    @include clearfix;
    @include grid-container($theme-header-max-width);
  }
  @include u-font("sans", 4);
  @include u-padding-y(2);

  color: color("white");

  a,
  a:visited {
    color: color("white");
  }
}
.cbv-footer__item {
  @include u-margin-y(2);
}

.cbv-row-highlight td {
  @include u-bg('yellow-5v');
}

.rotate {
  animation: 1s linear infinite rotate-con;
}

@keyframes rotate-con {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

// Allow decoupling header hierarchy from typographical style.
// Currently only used in the invitation reminder mailer.

.h3-style {
  @include typeset-h3;
  font-family: inherit;
}
