@forward "uswds";
@use "uswds" as *;

/*
 * Document uploads
 */
.document-uploads {
  margin-bottom: units(4);
  margin-top: units(4);
}
.document-uploads--full-width {
  max-width: 44rem;

  .document-uploads__item {
    max-width: none;
  }
}
.document-uploads__heading {
  margin-bottom: units(2);
  margin-top: 0;
}
.document-uploads__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.document-uploads__item {
  align-items: center;
  border-bottom: 1px solid color("gray-cool-20");
  display: flex;
  gap: units(2);
  justify-content: space-between;
  padding-bottom: units(1);
  padding-top: units(1);
}
.document-uploads__file {
  align-items: center;
  display: flex;
  gap: units(2);
  min-width: 0;
}
.document-uploads__icon {
  background-color: color("blue-warm-5");
  border: 1px solid color("blue-warm-20v");
  border-radius: radius("md");
  box-sizing: content-box;
  color: color("primary");
  flex-shrink: 0;
  height: 1.5rem;
  padding: units(1);
  width: 1.5rem;
}
.document-uploads__filename {
  @include u-font("sans", 4);
  line-height: line-height("sans", 4);
  overflow: hidden;
  word-break: break-word;
}
.document-uploads__remove-link {
  color: color("secondary-dark");
  flex-shrink: 0;
  @include u-font("sans", 4);
  line-height: line-height("sans", 4);
}
