@use "uswds" as *;

.household-member-card {
  .usa-card__header {
    padding-bottom: 0;
  }

  .usa-card__footer {
    padding-top: units(2);
  }
}

.household-member-card__action {
  width: 100%;

  @include at-media("tablet") {
    width: 8rem;
  }
}
