@forward "uswds";
@use "uswds" as *;

.usa-alert__heading {
  line-height: 1.2 !important;
}

.usa-date-picker__calendar {
  top: 48px !important;
  max-width: none;
}

.usa-hint p {
  margin: 3px 0;
}

// Make the navbar a bit taller on mobile, and increase the size of the "Menu"
// button to compensate.
$mobile-navbar-height: 4rem;
@include at-media-max($theme-header-min-width) {
  .usa-navbar {
    height: $mobile-navbar-height;
  }
  .usa-menu-btn {
    @include u-padding-x(2);
    height: $mobile-navbar-height;
  }
}
.usa-nav__primary {
  flex-shrink: 0;
}
.maxw-half {
  max-width: 50%;
}
.box-shadow-gray {
  box-shadow: inset 0 0 0 1px color("base-light");
}
.pointer-events-none {
  pointer-events: none;
}
