<% content_for :title, t("activities.entry.title") %>

<h1><%= t("activities.entry.title") %></h1>
<%= button_to t("activities.entry.continue"), activities_flow_root_path, class: "btn btn-primary usa-button margin-y-5", method: :get %>
