<% if visible? %>
  <div class="usa-alert usa-alert--warning">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading"><%= t("help.alert.heading") %></h3>
      <p class="usa-alert__text">
        <%= t("help.alert.text_before") %> <%= render HelpLinkComponent.new %>.
      </p>
    </div>
  </div>
<% end %>
