<div class="display-flex flex-justify-center flex-align-center width-6 height-6 bg-primary-lighter radius-top-pill radius-bottom-pill">
  <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#attach_money") %>"></use>
  </svg>
</div>