<div class="synchronizations-indicator">
    <svg class="<%= svg_classes %>" aria-hidden="true" focusable="false" role="img">
        <use
            xlink:href="<%= icon_variant %>"></use>
    </svg>
    <span class="<%= label_classes %>"><%= label %></span>
</div>
