<table class="usa-table usa-table--borderless width-full">
  <thead class="border-top-05">
    <tr>
      <th class="padding-3" style="background-color: #d9e8f6;" colspan="2">
        <%= header %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <%= row %>
    <% end %>
  </tbody>
</table>
