<table class="usa-table usa-table--borderless width-full">
  <thead class="border-top-05">
    <tr>
        <%= header %>
    </tr>
    <% if subheader_row.present? %>
      <%= subheader_row %>
    <% end %>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <%= row %>
    <% end %>
  </tbody>
</table>
