<p>
  <%= t(".greeting") %>
</p>
<p>
  Attached is a Report My Income CBV Report PDF with confirmation number <%= @cbv_flow.confirmation_code %>.
  This confirmation number has been shared with the client and is used to confirm that their information has been
  submitted to <%= agency_translation("shared.agency_acronym") %>.
</p>
<p>
  Thank you.
</p>
