<p>
  <%= t(".greeting") %>
</p>
<p>
  Attached is a Report My Income CBV Report PDF with confirmation number <%= @cbv_flow.confirmation_code %>.
  This confirmation number has been shared with the client and is used to confirm that their information has been
  submitted to <%= current_agency.agency_short_name %>.
</p>
<p>
  Thank you.
</p>
