<% if has_monthly_summary_results? && has_any_paystubs? %>
  <h2 class="margin-top-5"><%= t("cbv.payment_details.show.payments_and_deductions_table_header") %></h2>
  <% @monthly_summary_data.each do |(month_string, summary)| %>
    <% if summary[:paystubs].any? %>
      <%= render AccordionComponent.new(id: "#{month_string}-accordion") do |accordion| %>
        <% accordion.with_title do %>
          <%= format_month_string(month_string, summary) %>
        <% end %>
        <% accordion.with_accordion_item do %>
          <% summary[:paystubs].each do |paystub| %>
            <%= render(Report::W2PaystubDetailsTableComponent.new(
              paystub,
              income: @income,
              is_responsive: @is_responsive,
              show_hours_breakdown: false,
              show_gross_pay_ytd: :if_positive,
              show_pay_frequency: @is_w2_worker,
              details_translation_key: "your_details"
            )) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
