<% header = t(".header") %>
<% content_for :title, header %>
<h1><%= header %></h1>

<p><%= t(".error_code_html") %></p>

<p><%= t(".description") %></p>

<p>
  <%= link_to t(".refresh"), "javascript:window.location.reload()" %>
</p>
