<% welcome = t(".header") %>
<% content_for :title, welcome %>
<h1><%= welcome %></h1>

<div class="usa-prose">
  <p><%= t(".description_1") %></p>
  <p><%= t(".description_2") %></p>
  <p><%= t(".description_3") %></p>
</div>
