<footer class="cbv-footer">
  <div class="cbv-footer__content grid-row">
    <div class="cbv-footer__item grid-col-12 tablet:grid-col-8">
      <strong><%= t("shared.pilot_name") %></strong>
    </div>
    <div class="cbv-footer__item grid-col-12 tablet:grid-col-4">
      <%= link_to t("shared.footer.feedback"), feedback_form_url, target: "_blank" %>
    </div>
  </div>
</footer>
