<footer class="cbv-footer">
  <div class="cbv-footer__content grid-row">
    <div class="cbv-footer__item grid-col-12 tablet:grid-col-8">
      <strong><%= t("shared.pilot_name") %></strong>
    </div>
    <div class="cbv-footer__item grid-col-12 tablet:grid-col-4">
      <%= form_with(builder: UswdsFormBuilder, html: { style: "display: contents;", class: "" }) do |f| %>
        <%= f.link_with_icon(
              t("shared.footer.feedback"),
              url: feedbacks_path,
              icon: "forum",
              class: "usa-button usa-button--outline usa-button--inverse maxw-mobile",
              target: "_blank"
            ) %>
      <% end %>
    </div>
  </div>
</footer>
