<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic" aria-label="<%= t("shared.header.aria_label") %>">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text">
          <%= link_to t("shared.header.title"), root_path %>
        </em>
      </div>
    </div>
    <nav aria-label="<%= t("shared.header.primary") %>" class="usa-nav">
      <button class="usa-nav__close">
        <%= image_tag "@uswds/uswds/dist/img/usa-icons/close.svg", role: "img", alt: t("shared.header.close") %>
      </button>
    </nav>
  </div>
</header>
