---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.argyle.com/v2/employer-search?q=blahblahblah&status=issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ARGYLE_BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Id:
      - '018f0834-d69a-879b-05cb-ddde033024f0'
      X-Trace-Id:
      - bb084d56-99d0-43c4-8053-a9d359d6feb1
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"item_000109935","name":"Blac, Inc.","logo_url":"https://res.cloudinary.com/argyle-media/image/upload/v1688558020/partner-logos/letter_b.png","kind":"employer","mapping_status":"unmapped","status":"healthy"},{"id":"item_000129255","name":"Black
        & Company","logo_url":"https://res.cloudinary.com/argyle-media/image/upload/v1688558020/partner-logos/letter_b.png","kind":"employer","mapping_status":"verified","status":"healthy"},{"id":"item_000005633","name":"Blair
        & Company","logo_url":"https://res.cloudinary.com/argyle-media/image/upload/v1612210468/partner-logos/bluestembrands_blair.png","kind":"employer","mapping_status":"verified","status":"healthy"},{"id":"item_000056557","name":"Blake
        Group Holdings","logo_url":"https://res.cloudinary.com/argyle-media/image/upload/v1688558020/partner-logos/letter_b.png","kind":"employer","mapping_status":"unmapped","status":"healthy"},{"id":"item_000245172","name":"Blank
        & Co.","logo_url":"https://res.cloudinary.com/argyle-media/image/upload/v1688558020/partner-logos/letter_b.png","kind":"employer","mapping_status":"mapped","status":"healthy"},{"id":"item_000194037","name":"Blaze
        Holdings LLC","logo_url":"https://res.cloudinary.com/argyle-media/image/upload/v1688558020/partner-logos/letter_b.png","kind":"employer","mapping_status":"unmapped","status":"healthy"},{"id":"item_000017650","name":"Group
        Black","logo_url":"https://res.cloudinary.com/argyle-media/image/upload/v1590491285/partner-logos/group_black.png","kind":"employer","mapping_status":"verified","status":"healthy"}]}'
  recorded_at: Thu, 13 Nov 2025 14:32:44 GMT
recorded_with: VCR 6.3.1
