---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/search?q=foo&supported_jobs=paystubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - f72772dd-f6f0-4530-b7ed-148914cdd27f
    body:
      encoding: UTF-8
      string: '{"meta":{"count":25},"data":[{"id":"5a8cfb92-3373-4e65-b41b-54e821e79671","name":"McKee
        Foods","platform_type":"payroll","last_updated":"2025-05-13T18:41:08.886885+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/McKee%20Foods.png","supported_jobs":["paystubs","direct_deposit_switch","company_incomes","company_employments","shifts","company_census","identity","employment","income","direct_deposit_allocations","tax_forms"],"fractional_amount_supported":true,"amount_supported":true,"min_amount":null,"max_amount":null,"response_type":"employer","min_percentage":1,"max_percentage":99,"percentage_supported":true},{"id":"bc507614-8b07-41b6-a00c-daa0d2890350","name":"Tyson
        Foods","platform_type":"payroll","last_updated":"2023-08-22T20:06:41.070099+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/Tyson%20Foods.png","supported_jobs":["paystubs","direct_deposit_switch","company_incomes","company_employments","shifts","company_census","identity","employment","income","direct_deposit_allocations","tax_forms"],"fractional_amount_supported":true,"amount_supported":true,"min_amou[...]
- request:
    method: post
    uri: https://sandbox.getpinwheel.com/v1/link_tokens
    body:
      encoding: UTF-8
      string: '{"org_name":"Report My Income","required_jobs":["paystubs"],"end_user_id":"301e3a7b-c94e-4bd0-8367-8267ef3d0509","skip_intro_screen":true,"language":"en","employer_id":"5a8cfb92-3373-4e65-b41b-54e821e79671"}'
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 18255f15-8f8f-479f-a52b-151c13b4010e
    body:
      encoding: UTF-8
      string: '{"data":{"mode":"sandbox","id":"6830c1ce-ca83-4e08-a4c7-08c826823b86","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InJlcXVpcmVkX2pvYnMiOlsicGF5c3R1YnMiXSwib3JnX25hbWUiOiJSZXBvcnQgTXkgSW5jb21lIiwiYWxsb2NhdGlvbiI6bnVsbCwicGxhdGZvcm1fa2V5IjpudWxsLCJza2lwX2ludHJvX3NjcmVlbiI6dHJ1ZSwic2tpcF9leGl0X3N1cnZleSI6ZmFsc2UsImVtcGxveWVyX2lkIjoiNWE4Y2ZiOTItMzM3My00ZTY1LWI0MWItNTRlODIxZTc5NjcxIiwiZGlzYWJsZV9kaXJlY3RfZGVwb3NpdF9zcGxpdHRpbmciOmZhbHNlLCJwbGF0Zm9ybV9pZCI6bnVsbCwic2tpcF9kZXBvc2l0X2NvbmZpcm1hdGlvbiI6bnVsbCwicGxhdGZvcm1fdHlwZSI6bnVsbCwibGFuZ3VhZ2UiOiJlbiIsImVuZF91c2[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/platforms/5965580e-380f-4b86-8a8a-7278c77f73cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 3a7b4bc5-68b5-4c7e-b902-e25403274152
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5965580e-380f-4b86-8a8a-7278c77f73cb","name":"Workday","type":"payroll","fractional_amount_supported":true,"min_amount":null,"max_amount":null,"last_updated":"2025-05-13T18:41:08.804385+00:00","logo_url":"https://cdn.getpinwheel.com/assets/platforms/logos/search/cfmpw.png","percentage_supported":true,"min_percentage":1,"max_percentage":99,"supported_jobs":["identity","direct_deposit_switch","paystubs","income","company_employments","direct_deposit_allocations","employment","shifts","tax_forms","company_incomes","company_census"],"amount_supported":true}}'
  recorded_at: Sun, 22 Jun 2025 04:22:59 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/3e495d44-ecce-45e0-930e-35a63c88ce1c/identity
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 71d73d5b-573f-431b-aaf6-12b9c048f57a
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ecfd44ad-072f-4cb2-98fd-cb65c29c9c82","created_at":"2025-06-22T04:22:59.840226+00:00","updated_at":"2025-06-22T04:22:59.840226+00:00","account_id":"3e495d44-ecce-45e0-930e-35a63c88ce1c","full_name":"Ash
        Userton","emails":["user_good@example.com"],"date_of_birth":"1993-08-28","last_four_ssn":"1234","address":{"raw":"20429
        Pinwheel Drive, New York City, NY 99999","line1":"20429 Pinwheel Drive","line2":null,"city":"New
        York City","state":"NY","postal_code":"99999","country":"US"},"phone_numbers":[{"value":"+12345556789","type":null}]},"meta":{"refreshed_at":"2025-06-22T04:22:59.918895+00:00"}}'
  recorded_at: Sun, 22 Jun 2025 04:23:07 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/3e495d44-ecce-45e0-930e-35a63c88ce1c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - d85cb572-7d44-418d-83ce-85aac306dec4
    body:
      encoding: UTF-8
      string: '{"data":{"created_at":"2025-06-22T04:22:58.726541+00:00","link_token_id":"6830c1ce-ca83-4e08-a4c7-08c826823b86","platform_id":"5965580e-380f-4b86-8a8a-7278c77f73cb","connected":true,"monitoring_status":"active","end_user_id":"301e3a7b-c94e-4bd0-8367-8267ef3d0509","id":"3e495d44-ecce-45e0-930e-35a63c88ce1c","data_updated_at":{"direct_deposit_allocations":"2025-06-22T04:22:59.777275+00:00","income":"2025-06-22T04:22:59.935679+00:00","employment":"2025-06-22T04:23:04.242674+00:00","identity":"2025-06-22T04:22:59.918895+00:00","shifts":"2025-06-22T04:23:00.650812+00:00","paystubs":"2025-06-22T04:23:02.264483+00:00"},"data_refreshed_at":{"direct_deposit_allocations":"2025-06-22T04:22:59.777275+00:00","income":"2025-06-22T04:22:59.935679+00:00","employment":"2025-06-22T04:23:04.242674+00:00","identity":"2025-06-22T04:22:59.918895+00:00","shifts":"2025-06-22T04:23:00.650812+00:00","paystubs":"2025-06-22T04:23:02.264483+00:00"}}}'
  recorded_at: Sun, 22 Jun 2025 04:23:07 GMT
[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/3e495d44-ecce-45e0-930e-35a63c88ce1c/employment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 5e42b842-efcc-43c1-9f7f-7a84640ff196
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f5684941-2383-446b-b29f-28909e3cbb36","created_at":"2025-06-22T04:23:04.168324+00:00","updated_at":"2025-06-22T04:23:04.168324+00:00","account_id":"3e495d44-ecce-45e0-930e-35a63c88ce1c","status":"employed","start_date":"2010-01-01","termination_date":null,"employer_name":"Acme
        Corporation","employer_address":{"raw":"20429 Pinwheel Drive, New York City,
        NY 99999","line1":"20429 Pinwheel Drive","line2":null,"city":"New York City","state":"NY","postal_code":"99999","country":"US"},"employer_phone_number":{"value":"+16126597057","type":"work"},"title":null},"meta":{"refreshed_at":"2025-06-22T04:23:04.242674+00:00"}}'
  recorded_at: Sun, 22 Jun 2025 04:23:08 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/3e495d44-ecce-45e0-930e-35a63c88ce1c/income
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - cf0b91e6-a80d-4c6e-a8b9-efde5d65e61f
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c90703c9-d699-4424-8b7f-db2429a49549","created_at":"2025-06-22T04:22:59.863561+00:00","updated_at":"2025-06-22T04:23:02.092755+00:00","account_id":"3e495d44-ecce-45e0-930e-35a63c88ce1c","compensation_amount":1000,"compensation_unit":"hourly","currency":"USD","pay_frequency":"bi-weekly"},"meta":{"refreshed_at":"2025-06-22T04:22:59.935679+00:00"}}'
  recorded_at: Sun, 22 Jun 2025 04:23:08 GMT
[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/3e495d44-ecce-45e0-930e-35a63c88ce1c/paystubs?from_pay_date=2025-03-24&to_pay_date=2025-06-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 1d1d6870-4374-4c1f-aaa2-7aa74a4cac29
    body:
      encoding: UTF-8
      string: '{"meta":{"refreshed_at":"2025-06-22T04:23:02.264483+00:00","count":4,"next_cursor":null},"data":[{"id":"694308b2-a2ec-44df-9ab0-d1a4fc25bafd","created_at":"2025-06-22T04:22:59.620674+00:00","account_id":"3e495d44-ecce-45e0-930e-35a63c88ce1c","pay_date":"2025-06-22","pay_period_start":"2025-06-09","pay_period_end":"2025-06-22","currency":"USD","gross_pay_amount":50000,"net_pay_amount":46000,"check_amount":46000,"gross_pay_ytd":50000,"net_pay_ytd":46000,"total_taxes":3825,"total_deductions":175,"total_reimbursements":0,"external_paystub_id":null,"employer_name":null,"taxes":[{"name":"Pinwheel
        Tax","category":"state_income","amount":0},{"name":"Employee Medicare Tax","category":"medicare","amount":725},{"name":"Employee
        Social Security Tax","category":"social_security","amount":3100},{"name":"Federal
        Income Tax","category":"federal_income","amount":0}],"deductions":[{"name":"Deduction","category":"other","amount":175,"type":"unknown"}],"earnings":[{"name":"Regular","category":"hourly","amount":50000,"rate":5000,"hours":10.0}],"time_off":[{"name":"PTO","category":"pto","available_hours":25.0,"earned_hours":0.75,"used_hours":0.0},{"name":"Sick
        Leave","category":"sick","available_hours":8.0,"earned_hours":0.1,"used_hours":2.0}],"document":{"id":"00000000-0000-0000-0000-000000000000","download_url":"https://production-newton-paystubs.s3.amazonaws.com/00000000-0000-0000-0000-000000000000/paystub/00000000-0000-0000-0000-000000000000.pdf?response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA44RJUEH4R75D7PV2%2F20250622%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250622T042308Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIDymfb%2Bax6fZdzSPPdPhDMRfRXXq0GFs9ibJUd5Lk[...]
[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/accounts/3e495d44-ecce-45e0-930e-35a63c88ce1c/shifts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<PINWHEEL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 34b3d000-4eaa-412d-9dd8-1f7c66b65d65
    body:
      encoding: UTF-8
      string: '{"meta":{"refreshed_at":"2025-06-22T04:23:00.650812+00:00","count":25,"next_cursor":"gAAAAABoV4UtVPOX4SUVe9YX2n0RYKEcjyj2ER7y_xOHIk18jv9FSNHDZ492RuN7dpAroB8gUgCYwAyNbnRElGaxs75Ckv0Y-njwk2DgYDHTSoiYVQlpISV9Ra73psGHKvSqHvogOfz6o51tOEhUm6LF2xQS-vD8A5gk-V3rUMVzS4uDRz6AYrA="},"data":[{"id":"0a537ea4-c0b9-4776-985b-7385bde7a0f9","created_at":"2025-06-22T04:22:59.940383+00:00","account_id":"3e495d44-ecce-45e0-930e-35a63c88ce1c","start_date":"2025-06-22","end_date":"2025-06-22","type":"shift","timezone":"America/New_York","timestamps":[{"from":"2025-06-22T09:00:00-04:00","to":"2025-06-22T17:00:00-04:00"}],"currency":"USD","earnings":[{"name":"Sandbox
        Test Earning","category":"hourly","amount":15000,"rate":1000,"hours":15.0}]},{"id":"ae2d6da5-0eb9-47f2-9cd8-d44c625b9cfe","created_at":"2025-06-22T04:22:59.940383+00:00","account_id":"3e495d44-ecce-45e0-930e-35a63c88ce1c","start_date":"2025-06-21","end_date":"2025-06-21","type":"shift","timezone":"America/New_York","timestamps":[{"from":"2025-06-21T09:00:00-04:00","to":"2025-06-21T17:00:00-04:00"}],"currency":"US[...]
[...]
