---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 53600897-6c1e-4024-a9c4-cc9b644dc734
    body:
      encoding: UTF-8
      string: '{"meta":{"count":8,"next_cursor":null},"data":[{"url":"https://f423-24-6-157-50.ngrok-free.app/webhooks/pinwheel/events#subscription_name=tdooner","status":"active","enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"version":"2023-11-22","id":"22935812-df0d-4a20-840c-7272a295c646","created_at":"2025-04-17T00:12:40.706055+00:00","last_updated":"2025-04-17T00:12:40.706055+00:00"},{"url":"https://462a-107-5-204-44.ngrok-free.app/webhooks/pinwheel/events#subscription_name=georgebyers","status":"active","enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"version":"2023-11-22","id":"92f0d8f1-59af-4ee0-bc6f-1732dd313d3d","created_at":"2025-04-16T22:46:24.680217+00:00","last_updated":"2025-04-16T22:46:24.680217+00:00"},{"url":"https://bac2-76-255-28-250.ngrok-free.ap[...]
- request:
    method: post
    uri: https://sandbox.getpinwheel.com/v1/webhooks
    body:
      encoding: UTF-8
      string: '{"enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"url":"https://ea9a-2601-1c0-5688-590-744e-8ae0-ba45-47dd.ngrok-free.app/webhooks/pinwheel/events#subscription_name=iannorris","status":"active","version":"2023-11-22"}'
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 1efc64a1-f7bd-4fc7-a073-a4f2e6c34e33
    body:
      encoding: UTF-8
      string: '{"data":{"url":"https://ea9a-2601-1c0-5688-590-744e-8ae0-ba45-47dd.ngrok-free.app/webhooks/pinwheel/events#subscription_name=iannorris","status":"active","enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"version":"2023-11-22","id":"e18da643-c900-4b51-948e-0b7629f5e4cf","created_at":"2025-04-17T17:03:28.108924+00:00","last_updated":"2025-04-17T17:03:28.108924+00:00"}}'
  recorded_at: Thu, 17 Apr 2025 17:03:28 GMT
- request:
    method: get
    uri: http://clients2.google.com/time/1/current?cup2hreq=e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855&cup2key=8:ZRBoH8dtf6ltkPa8uDEvSpKHHteUKoe9HKYjVfoSJLk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Proxy-Connection:
      - keep-alive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cup-Server-Proof:
      - 3046022100fba38f7a7931382e1cb54a56b47df618bf5ff41256e68b26c065c91b6045cfcd022100f2716eb5ef7a4a79ab29793f611a14eca20169e26f997721c6f1f09a41c631bc:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: UTF-8
      string: |-
        )]}'
        {"current_time_millis":1744909415303,"server_nonce":-2.9029924837530115E15}
  recorded_at: Thu, 17 Apr 2025 17:03:35 GMT
- request:
    method: post
    uri: https://accounts.google.com/ListAccounts?gpsia=1&json=standard&source=ChromiumBrowser
    body:
      encoding: UTF-8
      string: " "
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Accept-Ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
    body:
      encoding: UTF-8
      string: '["gaia.l.a.r",[]]'
  recorded_at: Thu, 17 Apr 2025 17:03:35 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/search?q=foo&supported_jobs=paystubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 9134d1d7-ad8e-4326-ad29-74ff50ea551f
    body:
      encoding: UTF-8
      string: '{"meta":{"count":25},"data":[{"id":"5a8cfb92-3373-4e65-b41b-54e821e79671","name":"McKee
        Foods","platform_type":"payroll","last_updated":"2024-11-07T17:01:54.781450+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/McKee%20Foods.png","supported_jobs":["shifts","direct_deposit_allocations","tax_forms","direct_deposit_switch","paystubs","company_employments","company_incomes","company_census","income","identity","employment"],"fractional_amount_supported":false,"amount_supported":true,"min_amount":null,"max_amount":null,"response_type":"employer","min_percentage":1,"max_percentage":99,"percentage_supported":true},{"id":"bc507614-8b07-41b6-a00c-daa0d2890350","name":"Tyson
        Foods","platform_type":"payroll","last_updated":"2023-08-22T20:06:41.070099+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/Tyson%20Foods.png","supported_jobs":["shifts","direct_deposit_allocations","tax_forms","direct_deposit_switch","paystubs","company_employments","company_incomes","company_census","income","identity","employment"],"fractional_amount_supported":true,"amount_supported":true,"min_amou[...]
- request:
    method: post
    uri: https://sandbox.getpinwheel.com/v1/link_tokens
    body:
      encoding: UTF-8
      string: '{"org_name":"SNAP Income Pilot","required_jobs":["paystubs"],"end_user_id":"f0a9a6e9-6d36-44ec-97e0-9ea371de772f","skip_intro_screen":true,"language":"en","employer_id":"5a8cfb92-3373-4e65-b41b-54e821e79671"}'
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - ea269b44-4907-48d5-aca3-13b8af1779c7
    body:
      encoding: UTF-8
      string: '{"data":{"mode":"sandbox","id":"390e640f-98c7-4a19-b016-a55428a51b62","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InJlcXVpcmVkX2pvYnMiOlsicGF5c3R1YnMiXSwib3JnX25hbWUiOiJTTkFQIEluY29tZSBQaWxvdCIsImFsbG9jYXRpb24iOm51bGwsInBsYXRmb3JtX2tleSI6bnVsbCwic2tpcF9pbnRyb19zY3JlZW4iOnRydWUsInNraXBfZXhpdF9zdXJ2ZXkiOmZhbHNlLCJlbXBsb3llcl9pZCI6IjVhOGNmYjkyLTMzNzMtNGU2NS1iNDFiLTU0ZTgyMWU3OTY3MSIsImRpc2FibGVfZGlyZWN0X2RlcG9zaXRfc3BsaXR0aW5nIjpmYWxzZSwicGxhdGZvcm1faWQiOm51bGwsInNraXBfZGVwb3NpdF9jb25maXJtYXRpb24iOm51bGwsInBsYXRmb3JtX3R5cGUiOm51bGwsImxhbmd1YWdlIjoiZW4iLCJlbmRfdX[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/platforms/5965580e-380f-4b86-8a8a-7278c77f73cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - a290c30f-69e7-4dbf-8c62-1941ed836dd1
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5965580e-380f-4b86-8a8a-7278c77f73cb","name":"Workday","type":"payroll","fractional_amount_supported":false,"min_amount":null,"max_amount":null,"last_updated":"2024-10-04T21:31:31.481595+00:00","logo_url":"https://cdn.getpinwheel.com/assets/platforms/logos/search/cfmpw.png","percentage_supported":true,"min_percentage":1,"max_percentage":99,"supported_jobs":["shifts","company_incomes","tax_forms","company_census","income","paystubs","company_employments","employment","identity","direct_deposit_switch","direct_deposit_allocations"],"amount_supported":true}}'
  recorded_at: Thu, 17 Apr 2025 17:03:42 GMT
- request:
    method: delete
    uri: https://sandbox.getpinwheel.com/v1/webhooks/e18da643-c900-4b51-948e-0b7629f5e4cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 7d00a5d2-6b87-4c7c-b0ca-b34484b5ae1f
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 17 Apr 2025 17:03:43 GMT
recorded_with: VCR 6.3.1
