---
http_interactions:
- request:
    method: post
    uri: http://fake-state.api.gov/api/v1/income-report
    body:
      encoding: UTF-8
      string: '{"confirmation_code":"ABC123","completed_at":"2025-05-01T01:00:00Z","agency_partner_metadata":{"case_number":"ABC1234"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'Internal Server Error'
  recorded_at: Mon, 24 Sep 2025 20:00:00 GMT
