<% content_for :title, t(".title") %>

<h1><%= t(".title") %></h1>
<p>
  <%= t(".description", agency_acronym: agency_translation("shared.agency_acronym")) %>
</p>
<%= render "form", job_training_activity: @job_training_activity %>
