<% content_for :title, t(".title") %>

<% content_for :activity_flow_header do %>
  <%= render ActivityFlowHeaderComponent.new(
    title: t("activities.work_programs.title_singular"),
    exit_url: activities_flow_root_path
  ) %>
<% end %>

<h1><%= t(".title") %></h1>
<p>
  <%= t(".description", agency_acronym: agency_translation("shared.agency_acronym")) %>
</p>
<%= render "form", job_training_activity: @job_training_activity %>
