---
http_interactions:
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 48ff7c77-8e92-4ad4-92a6-a079977d0c52
    body:
      encoding: UTF-8
      string: '{"meta":{"count":8,"next_cursor":null},"data":[{"url":"https://f423-24-6-157-50.ngrok-free.app/webhooks/pinwheel/events#subscription_name=tdooner","status":"active","enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"version":"2023-11-22","id":"22935812-df0d-4a20-840c-7272a295c646","created_at":"2025-04-17T00:12:40.706055+00:00","last_updated":"2025-04-17T00:12:40.706055+00:00"},{"url":"https://462a-107-5-204-44.ngrok-free.app/webhooks/pinwheel/events#subscription_name=georgebyers","status":"active","enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"version":"2023-11-22","id":"92f0d8f1-59af-4ee0-bc6f-1732dd313d3d","created_at":"2025-04-16T22:46:24.680217+00:00","last_updated":"2025-04-16T22:46:24.680217+00:00"},{"url":"https://bac2-76-255-28-250.ngrok-free.ap[...]
- request:
    method: post
    uri: https://sandbox.getpinwheel.com/v1/webhooks
    body:
      encoding: UTF-8
      string: '{"enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"url":"https://3444-2601-1c0-5688-590-744e-8ae0-ba45-47dd.ngrok-free.app/webhooks/pinwheel/events#subscription_name=iannorris","status":"active","version":"2023-11-22"}'
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - fb4f4e60-f963-45bf-ab7c-ab0b75eea2f5
    body:
      encoding: UTF-8
      string: '{"data":{"url":"https://3444-2601-1c0-5688-590-744e-8ae0-ba45-47dd.ngrok-free.app/webhooks/pinwheel/events#subscription_name=iannorris","status":"active","enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"version":"2023-11-22","id":"b7ff63ac-0656-4ec9-9637-2bd2b87c26a1","created_at":"2025-04-17T15:36:18.739915+00:00","last_updated":"2025-04-17T15:36:18.739915+00:00"}}'
  recorded_at: Thu, 17 Apr 2025 15:36:18 GMT
- request:
    method: get
    uri: http://clients2.google.com/time/1/current?cup2hreq=e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855&cup2key=8:IQLEKgiJ_LQ65BnRw6aiVJ3o1WaVBdIFMBnovK_SaXY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Proxy-Connection:
      - keep-alive
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cup-Server-Proof:
      - 3044022038684d5d60d9dbf5a9df0085225556e2646fa88357e31b606523e94260660e53022007b9b91f6f8e8fe3ec66813061c7a517a179bdca228d988c7160dafcbb2046be:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: UTF-8
      string: |-
        )]}'
        {"current_time_millis":1744904191987,"server_nonce":5.046273004896387E211}
  recorded_at: Thu, 17 Apr 2025 15:36:31 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/search?q=foo&supported_jobs=paystubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - e58d0144-df38-4644-a7a6-faa5e3cabefc
    body:
      encoding: UTF-8
      string: '{"meta":{"count":25},"data":[{"id":"5a8cfb92-3373-4e65-b41b-54e821e79671","name":"McKee
        Foods","platform_type":"payroll","last_updated":"2024-11-07T17:01:54.781450+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/McKee%20Foods.png","supported_jobs":["company_incomes","company_census","employment","identity","tax_forms","direct_deposit_allocations","income","company_employments","paystubs","shifts","direct_deposit_switch"],"fractional_amount_supported":false,"amount_supported":true,"min_amount":null,"max_amount":null,"response_type":"employer","min_percentage":1,"max_percentage":99,"percentage_supported":true},{"id":"bc507614-8b07-41b6-a00c-daa0d2890350","name":"Tyson
        Foods","platform_type":"payroll","last_updated":"2023-08-22T20:06:41.070099+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/Tyson%20Foods.png","supported_jobs":["company_incomes","paystubs","company_census","employment","identity","income","direct_deposit_allocations","company_employments","tax_forms","shifts","direct_deposit_switch"],"fractional_amount_supported":true,"amount_supported":true,"min_amou[...]
- request:
    method: post
    uri: https://sandbox.getpinwheel.com/v1/link_tokens
    body:
      encoding: UTF-8
      string: '{"org_name":"SNAP Income Pilot","required_jobs":["paystubs"],"end_user_id":"b9e06094-4b79-484b-862f-e3f2d2e7345c","skip_intro_screen":true,"language":"en","employer_id":"5a8cfb92-3373-4e65-b41b-54e821e79671"}'
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 35662f75-c731-4456-b93d-92fe9228309e
    body:
      encoding: UTF-8
        string: '{"data":{"mode":"sandbox","id":"0912986d-7962-46aa-b0fb-81fd56d2bc3a","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InJlcXVpcmVkX2pvYnMiOlsicGF5c3R1YnMiXSwib3JnX25hbWUiOiJTTkFQIEluY29tZSBQaWxvdCIsImFsbG9jYXRpb24iOm51bGwsInBsYXRmb3JtX2tleSI6bnVsbCwic2tpcF9pbnRyb19zY3JlZW4iOnRydWUsInNraXBfZXhpdF9zdXJ2ZXkiOmZhbHNlLCJlbXBsb3llcl9pZCI6IjVhOGNmYjkyLTMzNzMtNGU2NS1iNDFiLTU0ZTgyMWU3OTY3MSIsImRpc2FibGVfZGlyZWN0X2RlcG9zaXRfc3BsaXR0aW5nIjpmYWxzZSwicGxhdGZvcm1faWQiOm51bGwsInNraXBfZGVwb3NpdF9jb25maXJtYXRpb24iOm51bGwsInBsYXRmb3JtX3R5cGUiOm51bGwsImxhbmd1YWdlIjoiZW4iLCJlbmRfdX[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/platforms/5965580e-380f-4b86-8a8a-7278c77f73cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 48581ad2-0520-406b-9385-b54724e578ba
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5965580e-380f-4b86-8a8a-7278c77f73cb","name":"Workday","type":"payroll","fractional_amount_supported":false,"min_amount":null,"max_amount":null,"last_updated":"2024-10-04T21:31:31.481595+00:00","logo_url":"https://cdn.getpinwheel.com/assets/platforms/logos/search/cfmpw.png","percentage_supported":true,"min_percentage":1,"max_percentage":99,"supported_jobs":["identity","company_census","company_employments","direct_deposit_switch","paystubs","shifts","direct_deposit_allocations","employment","company_incomes","income","tax_forms"],"amount_supported":true}}'
  recorded_at: Thu, 17 Apr 2025 15:36:50 GMT
- request:
    method: delete
    uri: https://sandbox.getpinwheel.com/v1/webhooks/b7ff63ac-0656-4ec9-9637-2bd2b87c26a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - f3bae80c-4fd7-45c0-93fb-fd0f2018b4c0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 17 Apr 2025 15:36:53 GMT
recorded_with: VCR 6.3.1
