---
http_interactions:
- request:
    method: delete
    uri: https://sandbox.getpinwheel.com/v1/webhooks/39b1409e-7c96-49a5-9121-c8c817be51fc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 06bc898a-8dcd-4407-becc-3ab23ed5dd5f
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 08 Apr 2025 22:16:59 GMT
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - d175b926-eb97-4ed0-9634-9ea4273d93b3
    body:
      encoding: UTF-8
      string: '{"meta":{"count":8,"next_cursor":null},"data":[{"url":"https://54a2-76-255-28-250.ngrok-free.app/webhooks/pinwheel/events#subscription_name=timmiller","status":"active","enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"version":"2023-11-22","id":"f05849cc-7051-4fd1-98ff-8004cce59c52","created_at":"2025-04-08T21:51:15.195650+00:00","last_updated":"2025-04-08T21:51:15.195650+00:00"},{"url":"https://c991-2600-1700-5135-a000-bc83-478c-d8cd-492f.ngrok-free.app/webhooks/pinwheel/events#subscription_name=daphnegold","status":"active","enabled_events":["account.added","paystubs.added","paystubs.fully_synced","employment.added","income.added","identity.added"],"version":"2023-11-22","id":"45a7136b-b114-4168-ad8c-af83f19e1e1c","created_at":"2025-04-07T17:22:05.125181+00:00","last_updated":"2025-04-07T17:22:05.125181+00:00"},{"url":"https://2db0-1[...]
[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/search?q=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 6192842c-c8a7-49cd-878b-c27084ea96e6
    body:
      encoding: UTF-8
      string: '{"meta":{"count":25},"data":[{"id":"859220e1-1c6b-48bc-8d36-0d2c491dfed0","name":"Foot
        Locker","platform_type":"payroll","last_updated":"2022-11-01T18:16:46.793247+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/Foot%20Locker.svg","supported_jobs":["tax_forms","identity","direct_deposit_switch","paystubs","direct_deposit_allocations","income","company_incomes","employment","shifts"],"fractional_amount_supported":true,"amount_supported":true,"min_amount":null,"max_amount":null,"response_type":"employer","min_percentage":1,"max_percentage":99,"percentage_supported":true},{"id":"5a8cfb92-3373-4e65-b41b-54e821e79671","name":"McKee
        Foods","platform_type":"payroll","last_updated":"2024-11-07T17:01:54.781450+00:00","logo_url":"https://cdn.getpinwheel.com/assets/employers/logos/McKee%20Foods.png","supported_jobs":["tax_forms","company_employments","company_census","identity","direct_deposit_switch","paystubs","direct_deposit_allocations","income","company_incomes","employment","shifts"],"fractional_amount_supported":false,"amount_supported":true,"min_amo[...]
- request:
    method: post
    uri: https://sandbox.getpinwheel.com/v1/link_tokens
    body:
      encoding: UTF-8
      string: '{"org_name":"SNAP Income Pilot","required_jobs":["paystubs"],"end_user_id":"8bbb654f-79df-444c-b4b6-4c2fdaad3837","skip_intro_screen":true,"language":"en","employer_id":"5a8cfb92-3373-4e65-b41b-54e821e79671"}'
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - b539421e-991d-47d7-8dcc-f61c90cf43b4
    body:
      encoding: UTF-8
      string: '{"data":{"mode":"sandbox","id":"f046f85d-4e91-469d-a061-61cacf4dddd2","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InJlcXVpcmVkX2pvYnMiOlsicGF5c3R1YnMiXSwib3JnX25hbWUiOiJTTkFQIEluY29tZSBQaWxvdCIsImFsbG9jYXRpb24iOm51bGwsInBsYXRmb3JtX2tleSI6bnVsbCwic2tpcF9pbnRyb19zY3JlZW4iOnRydWUsInNraXBfZXhpdF9zdXJ2ZXkiOmZhbHNlLCJlbXBsb3llcl9pZCI6IjVhOGNmYjkyLTMzNzMtNGU2NS1iNDFiLTU0ZTgyMWU3OTY3MSIsImRpc2FibGVfZGlyZWN0X2RlcG9zaXRfc3BsaXR0aW5nIjpmYWxzZSwicGxhdGZvcm1faWQiOm51bGwsInNraXBfZGVwb3NpdF9jb25maXJtYXRpb24iOm51bGwsInBsYXRmb3JtX3R5cGUiOm51bGwsImxhbmd1YWdlIjoiZW4iLCJlbmRfdX[...]
- request:
    method: get
    uri: https://sandbox.getpinwheel.com/v1/platforms/5965580e-380f-4b86-8a8a-7278c77f73cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - dd194731-9b2f-429f-9595-6282782b4683
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5965580e-380f-4b86-8a8a-7278c77f73cb","name":"Workday","type":"payroll","fractional_amount_supported":false,"min_amount":null,"max_amount":null,"last_updated":"2024-10-04T21:31:31.481595+00:00","logo_url":"https://cdn.getpinwheel.com/assets/platforms/logos/search/cfmpw.png","percentage_supported":true,"min_percentage":1,"max_percentage":99,"supported_jobs":["company_census","employment","shifts","paystubs","direct_deposit_allocations","tax_forms","direct_deposit_switch","income","identity","company_employments","company_incomes"],"amount_supported":true}}'
  recorded_at: Tue, 08 Apr 2025 22:21:48 GMT
- request:
    method: delete
    uri: https://sandbox.getpinwheel.com/v1/webhooks/0dd08f63-8cac-4fab-aa25-86a691338be8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Api-Secret:
      - "<SANDBOX_SECRET_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinwheel-Version:
      - '2023-11-22'
      X-Pinwheel-Request-Id:
      - 38bdf08d-bdd8-477a-bccb-198cb1a53f12
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 08 Apr 2025 22:21:49 GMT
recorded_with: VCR 6.3.1
