<% content_for :title, t(".title") %>

<h1><%= t(".title") %></h1>

<div class="usa-prose">
  <p><%= t(".body_1", agency_short_name: current_agency.agency_short_name) %></p>
</div>

<div class="margin-top-3">
  <%= agency_translation(".cta_button_html") %>
</div>
