<h2>Your invitation to verify income has expired</h2>

<p>You have either completed your verification process or accessed this invitation after too long.</p>

<p>Please contact your caseworker for further instructions.</p>
