<% content_for :title, t(".title") %>
<h1><%= t(".title") %></h1>

<div class="usa-prose">
  <p><%= t(".body_1") %></p>
  <p><%= t(".body_2") %></p>
</div>

<div class="margin-top-3">
  <%= site_translation(".cta_button_html") %>
</div>
